[2016-07-10 19:18] kenny-hibino opened #1 "Add Unit Test and Coverage Report"

[2016-07-12 03:51] kenny-hibino opened #2 "Set up linting"
use eslint

[2016-11-18 02:23] oyeanuj opened #3 "Demo link?"
Hi @kenny-hibino, thank you for putting out this library! I was wondering if you had any plans to put out a demo link, so one could test the functionality easily?

Also, was curious how it compares to react-geosuggest in your opinion?

Thank you!

[2016-11-18 03:42] kenny-hibino commented on #3
@oyeanuj Thank you for opening this issue! I am open to the idea of making a demo link to demonstrate the functionality. I think I will be able to work on that next week. Would you be interested in helping me out with that?

`react-geosuggest` is a more mature library and has been around for a while. But I wanted something more customizable, especially if you want to customize the autocomplete dro

[2016-12-29 05:54] cburbank opened #6 "Allow custom input component"
Hi @kenny-hibino ,

Have you considered allowing the choice of using a custom input component? That would be useful if you want to add autocomplete functionality to an existing input component (e.g., part of a different library). The _PlacesAutocomplete_ component could act as a wrapper, with the component you want to add the autocomplete functionality to as its child. So it would look like:

`<Pl

[2016-12-29 14:35] kenny-hibino commented on #6
@cburbank Yes, that would be fantastic! The main purpose of this library should be an easy integration of React components with Google Maps Places API. I want the UIs to be customizable and the library to be flexible about it. I'm glad that you are willing to take a shot at it! Let me know if you need anything!

[2016-12-31 00:36] kenny-hibino commented on #3
Thanks to @cburbank we have a demo site up and running on Github Pages. Please check it out [here](https://kenny-hibino.github.io/react-places-autocomplete/)

Major thanks to @cburbank !!

[2016-12-31 00:36] #3 closed

[2017-01-07 18:17] cburbank opened #10 "On autocomplete fail callback"
@kenny-hibino

It could be useful to allow users to pass in a callback to execute when `PlacesServiceStatus` is not `OK` (i.e., no predictions were found). Currently it writes an error message to the console.

Along those same lines - when autocomplete fails, the current predictions aren't cleared so the autocomplete items remain visible. Do you think it would make sense to give the option of clea

[2017-01-08 03:30] kenny-hibino commented on #10
Currently the library doesn't have a great support for error handling. I think your suggestion make a lot of sense.

If I was a user of this library, ideally the library has a sensible default for error handling and allow user to plug in their own error handling function. It'd be great if you can work on this, and we can see it in a feature branch! Let me know if you have more suggestion on this i

[2017-01-12 16:00] mull opened #11 "Allow autoFocus prop for input"
Allow an `autoFocus` prop that is sent down to the <input> element. Useful for pages when the component is the main function.

Thanks for the great component!

[2017-01-12 16:10] kenny-hibino commented on #11
@mull thanks for making this issue! It makes sense to have `autoFocus` as a prop. I'll work on that 👍

[2017-01-12 16:12] kenny-hibino commented on #6
#9 Closes this issue. Thanks to @cburbank 😄

[2017-01-12 16:12] #6 closed

[2017-01-18 01:46] brandonmp opened #13 "return placeID?"
It looks like the component is discarding the `placeID` instead of using it to retrieve the coordinates via geocode.

I assume that addresses are usually 1:1 with geocode when taken directly from Places results, but would it be safer to geocode on placeID instead?

At the very least, it'd be helpful if `placeID` was returned along with `suggestion`

[2017-01-18 06:02] kenny-hibino commented on #13
@brandonmp I strongly agree!
It should pass `placeId` to  `autocompleteItem` functional component via props. Also we should provide `geocodeByPlaceId` helper functions as well as `geocodeByAddress`.

[2017-01-18 06:59] #11 closed

[2017-01-22 04:01] kenny-hibino commented on #10
Closing this thanks to @cburbank #12

[2017-01-22 04:01] #10 closed

[2017-01-23 11:03] mangakid opened #15 "Could geocodeByAddress return the whole result?"
It would be useful to have the whole object available :)

[2017-01-23 12:38] nehabo commented on #15
I used google.maps.Geocoder API to get the address from the location coordinates.

[code]

[2017-01-23 12:40] bshimrit commented on #13
Not sure about the usage of placeId in the `autocompleteItem` functional component (which is a pure display component) but the `onChange` and `onSelect` callbacks should definitely have access to the placeId and perhaps all other parts of the `google.maps.places.AutocompletePrediction` object.

Would attempt a quick PR for this - but would you allow a breaking change to the callbacks signature?

[2017-01-23 12:41] yoadsn commented on #13
Not sure about the usage of placeId in the `autocompleteItem` functional component (which is a pure display component) but the `onChange` and `onSelect` callbacks should definitely have access to the placeId and perhaps all other parts of the `google.maps.places.AutocompletePrediction` object.

Would attempt a quick PR for this - but would you allow a breaking change to the callbacks signature?

[2017-01-23 16:18] kenny-hibino commented on #13
@yoadsn Please go for it! If there is a breaking change, we just bump up the major version.

NOTE: Please use `npm run commit` instead of `git commit` 👍

[2017-01-23 22:12] cburbank commented on #15
@mangakid  I agree that would be useful. The extra call to `google.maps.Geocoder()` in @nehabo's example wouldn't be necessary if `geocodeByAddress` was returning the full result in the first place.

[2017-01-23 23:43] kenny-hibino commented on #15
@mangakid Thank you for creating this issue!
Let's work on this and include it in the future release 👍

[2017-01-26 23:22] alveshelio commented on #15
Hi @nehabo,

I'm new to React, and I'm playing with the code example and it works fine, however, I'd like to add your code but I'm not sure where to place it. Could you please help me with some instructions where to place this code? Should I place it inside the function handleFormSubmit that is called when we submit the form?

Thank you

[2017-01-26 23:51] alveshelio commented on #15
Hi @kenny-hibino, when do you think this code will be implemented in a new version? Thank you very much for the great work.

[2017-01-27 06:23] kenny-hibino commented on #15
@alveshelio I will work on it this weekend, and have it shipped by the start of next week 👍

[2017-01-27 06:48] kenny-hibino commented on #15
@mangakid The main purpose of `geocodeByAddress` helper function is to extract `latitude` and `longitude` from the API payload. But I think we can have the callback function take the third argument and pass the entire payload.

So the function signature and usage could look like this

[code]

Would that be helpful?

[2017-01-27 14:11] alveshelio commented on #15
Hi @kenny-hibino, you really rock :)
Can I pay you a beer or a coffee? :)

[2017-01-27 16:31] kenny-hibino commented on #15
@alveshelio thanks! Just starting ⭐️ this project is enough for me!

[2017-01-27 21:24] mangakid commented on #15
Hi @kenny-hibino, yes that would be great. Thanks.

[2017-01-31 08:59] mangakid commented on #13
Hi @yoadsn Are you working on this, or should I try and find a workaround for the time being? Thanks.

[2017-02-01 04:14] brandonmp commented on #13
i edited it for my own local use (sorry, was in a hurry so didn't wanna mess with a PR/tests etc)

it was a pretty basic change if i recall. i'll try to bold the lines that are diff't but i don't remember all the changes i made

[code]

I also changed the `geocode-by-address` function to take a `placeid` instead of an address (& return a promise b/c it's 2017 :P ). I needed specific fields off of

[2017-02-01 06:39] kenny-hibino commented on #13
@brandonmp Thank you for sharing!!
It would be really great if you can submit a PR for this feature 👍

[2017-02-01 11:57] yoadsn commented on #13
Sorry guys, I ended up doing something very custom so implemented the basic parts myself.. Currently not using this lib.

[2017-02-01 16:29] brandonmp commented on #13
@kenny-hibino maybe i can try but we're trying to launch something in a few weeks so not sure :/ your lib is the best implementaiton of autocomplete i've seen though (primarily b/c it lets u use whatever input component you want), so happy to help if i can

[2017-02-04 05:11] kenny-hibino opened #16 "Support esc key to clear autocomplete"

[2017-02-04 20:15] #16 closed

[2017-02-05 01:37] #13 closed

[2017-02-05 02:34] #15 closed

[2017-02-05 07:51] vanluke opened #20 "Split code into smaller chunks"
Too many things doing this one single component. Code should be split into small dump components and separate logic

[2017-02-05 18:34] kenny-hibino opened #21 "Add helpful error message when Google Places Library is not loaded"
The library should provide a helpful message in the console for user of the library 😄

[2017-02-09 15:32] hughlomas opened #23 "Enter key on the input without a selection should trigger form onSubmit or have a callback prop"
First off, thanks for this simple and focused component, it is what I was looking for and has a clean API.

It would be nice if Enter in the input would actually submit something, since it would be parity with normal form behavior. Right now it does not, which after a cursory glance at the code is likely a result of the `if (activeItem === undefined) { return }` in handleEnterKey()

[code]

I woul

[2017-02-09 17:09] kenny-hibino commented on #23
@hughlomas Thank you for this issue!

I was actually working on this exact feature a few days ago, and it's still a work in progress. Which one do you you prefer: Calling the `onEnter` callback with the current text or the first result item? Seems like everyone has different approach. For example, Google Maps takes the current text, and Airbnb takes the first result item.

I was thinking about add

[2017-02-09 19:07] hughlomas commented on #23
@kenny-hibino Hah, that's great to hear!

I think if `onEnter` receives both then the developer can decide which value to use.

If you were to implement `eagerMode`, what would it call when enter was pressed?

[2017-02-09 19:15] kenny-hibino commented on #23
Great idea, I like it!

As for the `eagerMode`, `onEnter` callback will behave the same, but input field is always filled with the first item in the autocomplete.

Like this (After typing "San" I get this)
<img width= "1112" alt="screen shot 2017-02-09 at 11 14 31 am" src="https://cloud.githubusercontent.com/assets/10953044/22798996/fdf0cc50-eeb8-11e6-9d20-6ec14190037c.png">

[2017-02-09 19:25] hughlomas commented on #23
@kenny-hibino Oh I see, I do like that as an option, yes.

[2017-02-10 07:04] kenny-hibino commented on #23
Partially implemented with #25

[2017-02-10 17:32] khizar opened #26 "It is not selecting a place on click while it works perfectly from keyboard"
I cant seem to make it work with a click on the place. It works perfectly if i navigate with the arrow keys and select with enter key. Even the live demo does not work with a click. Has anyone else faced this issue?

[2017-02-10 17:41] kenny-hibino commented on #26
@khizar Thank you for this issue, this bug got introduced with the change I made last night. Will fix this ASAP!

[2017-02-10 17:53] kenny-hibino commented on #26
Fixed #27  Shout out to @Ninjarab!

[2017-02-10 17:53] #26 closed

[2017-02-22 00:11] Pegahkeshavarz opened #28 "warning for React.PropType"
I am getting this warning after adding the component to my project:

Warning: You are manually calling a React.PropTypes validation function for the `autoFocus` prop on `PlacesAutocomplete`. This is deprecated and will not work in production with the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for de

[2017-02-22 00:16] kenny-hibino commented on #28
@Pegahkeshavarz Thanks for opening this issue! I will investigate this 👍

[2017-02-22 00:21] Pegahkeshavarz commented on #28
This warning is happening for all the props of the component. so i am getting like 12 warnings after using the component in my console.Thanks

[2017-02-22 06:19] kenny-hibino commented on #28
@Pegahkeshavarz I'm having trouble reproducing the error. Would you mind providing sample code to get the warning message in the console?

[2017-02-22 17:19] Pegahkeshavarz commented on #28
This is the code i am using:

  constructor(props){

    super(props);

    this.state={
      address: ''
    };
    this.onChange = this.onChange.bind(this);
  }

  onChange(address){
    this.setState({address});
  }

    render() {
      const cssClasses = {
        root: 'autoComplete-root',
        input: 'adventure-input-test',
        autocompleteContainer: 'autocomplete-container'
      }

[2017-02-22 17:19] Pegahkeshavarz commented on #28
![screen shot 2017-02-22 at 9 19 28 am](https://cloud.githubusercontent.com/assets/15253917/23223493/118232e6-f8e0-11e6-926e-2a07ec30fafa.png)

[2017-02-22 17:21] Pegahkeshavarz commented on #28
It works and autocompletes the address but i am getting all these warnings in my console

[2017-02-22 19:37] hughlomas commented on #23
Hey, just wanted to say thank you for partially implementing this. It will be ideal once the first result is also passed to onEnterKeyDown, because the current value of the input field is already generally available with `this.state.address`.

[2017-02-23 16:22] ctrlaltdylan opened #30 "Move from inline styling to CSS based for easier overriding"
Currently styling is set inline with `defaultStyles.js`, you can easily override the className of the autocomplete container but you cannot easily override it's styling because the styles are set inline.

**Proposal**

Move default styling to CSS or SCSS so the user can import the styling and override without touching Js.

[2017-02-23 17:42] kenny-hibino commented on #30
@ctrlaltdylan YES! This has been a problem, thank you for opening this issue!! I like your proposal, and also let's look at how other component libraries (e.g react-select) are dealing with this kind of problem 👍

[2017-02-24 11:33] mskwarcan commented on #28
The issue is explained here: https://facebook.github.io/react/warnings/dont-call-proptypes.html

It looks like a lot of this code will either need to be refactored or you'll need to use a different PropType library mentioned in the article.

`PlacesAutocomplete.propTypes = {
  value: React.PropTypes.string.isRequired,
  onChange: React.PropTypes.func.isRequired,
  onError: React.PropTypes.func,

[2017-02-27 14:56] ctrlaltdylan commented on #30
react-modal has a nice approach, it supports both JS driven styling and CSS overriding - https://github.com/reactjs/react-modal

If a `className` is given, then the `styles` are ignored. But you can pass either styles or className driven CSS. I think this one of the better approaches I've seen to support both.

[2017-02-27 14:57] ctrlaltdylan opened #31 "Pass input name as a prop"
It would be a "nice to have" if the the input name could be passed as a prop. This would make it easier for acceptance testing to have an HTML hook to use.

[2017-02-27 22:43] kenny-hibino commented on #30
@ctrlaltdylan I like that approach better! Making user to import our css file is a bit awkward. (I think that's some how some component libraries do it). Feel free to give it a try and submit a PR!

[2017-02-27 22:44] kenny-hibino commented on #31
Sounds good to me 👍

[2017-02-28 17:12] basiclaser commented on #23
I hope this isn't too far off track, but how might i run geocodeByAddress on onChange within the PlacesAutocomplete element? My application doesn't have a 'submit' button, but i cant seem to get lat/long ( or any response ) from the geocodeByAddress method unless as the result of a submit.

[2017-02-28 22:02] kenny-hibino commented on #23
@basiclaser Thank you for this good question! `onChange` callback gets called every input change event (You probably don't want to do that).

For your  use case, please provide `onSelect` callback. This callback takes `{address, placeId}`.

Example

[code]

Hope this helps! If you are still having trouble, please feel free to ask me any questions here or Gitter channel :octocat:

[2017-03-03 03:44] basiclaser opened #32 "Switch autoComplete field to textArea"
Hi there I'm trying to allow 2 lines worth of address to be visible by the user.
Can i somehow use textArea?

[2017-03-03 11:32] karamat commented on #31
Using with reduxForm, 'name' prop is also required.

[2017-03-04 21:07] #31 closed

[2017-03-05 22:22] kenny-hibino commented on #23
Closing this 👍

[2017-03-05 22:23] kenny-hibino opened #35 "Test Rewrite"
Need to rewrite tests

[2017-03-06 20:25] hughlomas commented on #23
@kenny-hibino
Hey kenny, are we able to get the first result also passed in to `onEnterKeyDown`?

[2017-03-06 23:26] kenny-hibino commented on #23
@hughlomas Have you tried out `typeAhead` feature that was released yesterday? It's enabled by default in the new major version release and it sets the `value` to first result when Enter Key in pressed 👍

[2017-03-07 20:04] woniesong92 opened #37 "Deleting without pressing "delete" button has unexpected result"
To repro:

1. Search Daly city
2. Press Cmd + A
4. Type "San"

[2017-03-07 21:22] MHerszak opened #38 "Uncaught TypeError: Cannot read property 'lat' of null"
Hi,

Would it be possible to manually resolve errors within the `geocodeByAddress` callback? I am unable to reference my error in order to show it to my users.

[code]

[2017-03-08 11:49] Steffi3rd opened #39 "How to get Address by Longitude and Latitude?"
I use geocodeByAddress to find address, it works.

But If I type an approximative address, I have this result : this address is not correct but the long and lat is correct.

Now, how to use Long and Lat to find the real address please?

Thanks.

[2017-03-08 12:09] #39 closed

[2017-03-08 12:12] Steffi3rd opened #40 "Why select text then type, append to value but not remplace ?"
1 - I write : "Paris, Fra"
2 - I select all the text **"Paris, Fra"**
3 - I write : "London"
4 - It gives me : "Paris, FraLondon"

---

Excepted

1 - I write : "Paris, Fra"
2 - I select all the text **"Paris, Fra"**
3 - I write : "London"
4 - Removes "Paris, Fra"
5 - It gives me : "London"

Thanks!

[2017-03-08 14:38] Steffi3rd opened #41 "type "rfdlsfdmgjdflk" return Cannot read property 'lat' of null"
When I type  "gdfg fdg ...G. DF GDFG FD", I have an real error.

----

**Excepted :**
STATUS : ZERO_RESULT

----

**Solution :**
if result[0] exist define lat : results[0].geometry.location.lat(
else lat : 0

Something like that.

----

Inside this function :
[code]

[2017-03-08 15:46] #37 closed

[2017-03-08 15:48] kenny-hibino commented on #40
Closed with 1be2036f45961b82bf55cd874209748bd6217296 👍

[2017-03-08 15:48] #40 closed

[2017-03-08 16:51] woniesong92 commented on #37
LOL

[2017-03-08 16:56] MHerszak commented on #41
We could reference this question/ request with #38?

[2017-03-08 16:57] MHerszak commented on #38
See #41.

[2017-03-08 16:57] #38 closed

[2017-03-09 14:23] adrianamoni commented on #21
Hello! I'm new to react, and I would like to know, how do i load google library to my project? I keep getting google is not defined. I dont know what to do

[2017-03-09 17:07] hughlomas commented on #23
@kenny-hibino Yes, but you state it is not available in mobile, which is precisely the environment that I am using `react-places-autocomplete` 😃

[2017-03-10 07:31] kenny-hibino commented on #23
@hughlomas I see. Let me see if we can find a good solution to that this weekend 👍

[2017-03-10 21:58] hughlomas commented on #23
@kenny-hibino Thanks haha, it's not a showstopper or anything, just a would-be-nice feature. Thanks for being so responsive!

[2017-03-12 06:55] kenny-hibino commented on #32
@basiclaser Thank you for opening this issue. This feature is not currently in my project roadmap, but I'll keep this issue open in case other people request for the same feature 👍

[2017-03-12 23:44] advance512 opened #43 "Integrations with Material UI and/or Redux Form"
Hi there,

Great component. Any integration using Material UI's AutoComplete control?

What about support for being wrapped by redux-form?

Thanks!

[2017-03-12 23:49] kenny-hibino commented on #43
@advance512 Thank you for opening this issue! We definitely need to add a better support for these popular libraries. I'm putting this on my todo list 👍

[2017-03-15 07:56] ablbol commented on #43
Hi,
I was able to use this component with redux form.  Here is how I did it.  Please let me know if my work can be improved.

1) Create a component, I called it PlaceField that looks something like this:
[code]
2) In your form, place the Field component from Redux Form and make sure to use PlaceField component from above like this:
[code]

[2017-03-15 07:58] ablbol opened #45 "Need to pass id to the input field"
Hi,
Is there a way to pass 'id' attribute to the input field of "PlacesAutocomplete".  I need it so that when I click on the label for the input field, the input field will receive focus.
Thanks

[2017-03-15 14:37] #45 closed

[2017-03-15 15:58] MHerszak commented on #41
You can actually also reference #20. Code splitting would be a good idea, especially for error handling.

[2017-03-16 09:12] advance512 commented on #43
Very nice! I'll have a look later at your solution this week.

[2017-03-16 12:51] dmfilipenko opened #47 "Safari doesn't work input symbols"
Doesn't work in safari

[2017-03-16 12:58] dmfilipenko commented on #47
component `PlacesAutocompleteWithTypeAhead` method `handleDefaultKey` event.key in safari return Unidentified https://github.com/facebook/react/issues/7897

[2017-03-16 15:35] kenny-hibino commented on #47
@dmfilipenko Thank you so much for opening issue! I just confirmed the bug and also discovered that `typeAhead` doesn't work and very buggy in Firebox. I will change the README to say `typeAhead` is an experimental feature for the time being, and I will work on this bug fix ASAP. Again thank you for reporting!! 👍

[2017-03-20 12:14] goooseman commented on #28
Is there any way to silence this warnings?

[2017-03-21 13:01] squiles opened #49 "Uncaught TypeError: Cannot read property 'suggestion' of undefined"
Am I the only one that gets `Uncaught TypeError: Cannot read property 'suggestion' of undefined` when the down key is pressed?

[2017-03-22 10:33] JohnnyKNL opened #50 "parse address using fillInAddress"
Thanks for the repo. I'm using it now but want to be able to split the address into separate fields. Google has the fillInAddress function but I'm too new at this to incorporate it. Here is a stackoverflow with the same issue in another set of code: http://stackoverflow.com/questions/42350100/google-places-autocomplete-react-component
Thanks!

[2017-03-23 14:34] Andreyco opened #51 "Support passing props to `input`"
Either support passing props to underlying input, or allow user to provide component to render.

[2017-03-25 04:18] kenny-hibino commented on #51
Currently the component takes a quite few props that are directly passed to input (`value`, `onChange`, `placeholder`, `inputName`, `inputId`, and also nested under `styles` and `classNames`)

@Andreyco Did you have any specific prop in mind?

Also, I'm thinking about combining these props to `inputProps` (object) in the next version release.

[2017-03-25 11:52] Andreyco commented on #51
`onBlur` event is what I am looking for.

I will play with the lib locally and will try to add support for custom input element, which will allow flexibility & no similar feature requests like this :)

[2017-03-29 16:42] Aristona commented on #43
@kenny-hibino Any updates about this one?

[2017-03-29 21:54] annaGo commented on #49
Nope.. Having the same issue.
It seems that 'handleSelect' sets the autocompleteItems which on the component state to [] after the selection and then onKeyDown is trying to access the selected item from that list.
Should be really simple fix.

[2017-03-30 11:00] advance512 commented on #43
I tried @ablbol's method and it seemed to work fine.
My issue now is that I need a multi-select, not single select. So I catch `onSelectChange` and update a Chip based Material UI component, which is wrapped as a Field, and it all works as expected.

[2017-03-31 10:14] squiles commented on #49
Does anyone one have any news on this? 😄

[2017-04-01 21:54] advance512 commented on #43
I ended up using react-select to keep things more standard with other components.
Having a way to pass in an input control or a style would have been nice..

[2017-04-05 14:40] #49 closed

[2017-04-05 14:41] kenny-hibino commented on #49
Thank you for reporting this bug @squiles @annaGo !!! I just added a patch 👍

[2017-04-06 11:58] goooseman commented on #28
I was investigating the issue, and I can't really understand what is wrong. Looking at the documentation, we are using propTypes the right way, and it should not throw an error.

The problem is the mismatching of the React versions. In this library React v15.4.2 is hardcoded. And I was using 15.1.0. When I've updated to 15.4.2, the issue was gone.

Anyway, it is better not to hardcode exact versio

[2017-04-06 14:26] kenny-hibino commented on #28
Big thank you to @goooseman ❤️

[2017-04-08 18:53] #30 closed

[2017-04-10 05:47] gutenye opened #56 "Is there a promise version of geocodeByAddress?"
Promise is widely used by now

[2017-04-10 06:17] gutenye opened #57 "Uncaught ReferenceError: google is not defined"
When componentDidMount called, the google library is still in loading.

[2017-04-10 15:40] hhelb opened #58 "This request has been blocked; the content must be served over HTTPS."
Hello, thank you for the repo!

I ran into this problem while serving in prod :

`Mixed Content: The page at 'https://MyUrl.com' was loaded over HTTPS, but requested an insecure resource 'http://maps.googleapis.com/maps/api/geocode/json?latlng=46.19018519999999,6.1402054000000135'. This request has been blocked; the content must be served over HTTPS.`

Also I am using [this repo](https://github.co

[2017-04-11 07:41] hhelb commented on #58
Figure it out, I was fetching the data from google with http and not https.
Closing.

[2017-04-11 07:41] #58 closed

[2017-04-15 19:04] #43 closed

[2017-04-15 19:05] kenny-hibino commented on #51
Closes via #60

[2017-04-15 19:05] #51 closed

[2017-04-17 15:17] lolsheeplol opened #61 "'type' in new inputProps, what does it do?"
In the 5.0.0 update, there is a new prop called 'type' in inputProps

    value,
    onChange,
    onBlur: () => {
      console.log('blur!')
    },
    **type: 'search',**
    placeholder: 'Search Places...',
    autoFocus: true,
  }

What does this prop do?  This is just a guess, but does it control the type of request the component uses (PlaceSearchRequest vs AutocompletionRequest)?  I'm lookin

[2017-04-17 15:34] kenny-hibino commented on #61
@lolsheeplol `inputProps` is for you to have full control of what gets passed to the input element. So with the `inputProps` with the above example, input element will look something like

[code]
If you want to specify the type of place, please you [`options`](https://github.com/kenny-hibino/react-places-autocomplete#options) props which has  a`type` option 👍

[2017-04-17 16:38] lolsheeplol commented on #61
Ah okay, I was asking specifically about the 'type' prop, but seeing your example makes it clear (it's passed through to the input element).

About [options](https://github.com/kenny-hibino/react-places-autocomplete#options) though, I understand this library uses an AutocompletionRequest so the types array is limited to 4 supported types.  Say I wanted to filter results by `type=["airport"]`, whic

[2017-04-18 16:41] bvellek commented on #28
I apologize in advance if I am simply confused by the solution to this issue.

Wondering if it would be possible to add `prop-types`  library [package](https://www.npmjs.com/package/prop-types) so that this is compatible with future versions of React? As of [React v15.5](https://facebook.github.io/react/docs/typechecking-with-proptypes.html) `React.PropTypes` is deprecated. This will remove the er

[2017-04-18 16:48] kenny-hibino commented on #28
@bvellek I see. Would you mind creating a pull request for this? If not, I can get to it this weekend 👍

[2017-04-18 16:49] bvellek commented on #28
@kenny-hibino yeah sure thing! i will try to get to it later today. Thanks for the quick response!

[2017-04-18 17:54] soban-akram opened #62 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
I'm getting this warning,
Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

printWarning	@	warning.js:36
warning	@	warning.js:60
get	@	React.js:95
162../defaultStyles	@	PlacesAutocomplete.js:352
s	@	_prelude.js:1
(anonymous)	@	_prelude.js:1
164../PlacesAutocomplete	@	index.js:8
s	@	_prelude.js:1
(anonymous)	@	_prelude.js:1
6.react

[2017-04-19 05:52] kenny-hibino commented on #62
PR #63 Should resolve this 👍

[2017-04-20 20:03] bvellek opened #64 "👂 Accessibility for screenreaders"
I was testing this component with a screenreader and found a couple issues with the display of the autocomplete suggestions. When listening to the screenreader there is no way to know that a dropdown with suggestions has appeared as you type into the input.

Consider these two fairly simple options.

**Option 1**: provide a [visually-hidden](http://a11yproject.com/posts/how-to-hide-content/) `<spa

[2017-04-21 14:19] jrock17 opened #65 "Any plans to add radius?"
This package looks great. Any plans to add radius filtering to limit results? I've seen other where you can pass in a location or country and limit results to a certain radius.

Thanks!

[2017-04-21 17:03] kenny-hibino commented on #65
You can specify radius, locations, and type of locations through [`options` prop](https://github.com/kenny-hibino/react-places-autocomplete#options) 👍
Hope this is what you are looking for!

[2017-04-21 17:09] kenny-hibino commented on #62
Closed with PR #63

[2017-04-21 17:09] #62 closed

[2017-04-21 17:13] kenny-hibino commented on #64
@bvellek Great issue! Thank you for testing it out for SR. Both options sound good, which do you think is more friendly for users with screenreaders? I would love a PR for this issue @bvellek if you have time to work on it 👍

[2017-04-21 17:57] jrock17 commented on #65
Boom! That's exactly what I was looking for.

Will the country param work too?

[2017-04-22 05:47] bvellek commented on #64
@kenny-hibino Great! I am going to reach out to the a11y community to make sure I choose the best solution, then I will submit a PR.

[2017-04-22 17:21] kenny-hibino commented on #65
@jrock17 Yes! This is what you need

[code]

Basically anything in Google's[ AutocompleteRequest specification](https://developers.google.com/maps/documentation/javascript/reference#AutocompletionRequest) will work 👍

[2017-04-22 17:26] kenny-hibino commented on #28
Closing this after PR #63

[2017-04-22 17:26] #28 closed

[2017-04-22 17:27] kenny-hibino commented on #47
I removed `typeAhead` feature in major version update to 5.0.0. Hopefully we can solve the browser incompatibility issue in the future and bring this feature back. Closing this for now.

[2017-04-22 17:27] #47 closed

[2017-04-22 17:28] kenny-hibino commented on #20
Closing this.

[2017-04-22 17:28] #20 closed

[2017-04-22 17:29] kenny-hibino commented on #32
Closing this since we haven't gotten similar feature requests in a long time.

[2017-04-22 17:29] #32 closed

[2017-04-23 18:41] #21 closed

[2017-04-23 18:51] #65 closed

[2017-04-23 18:52] kenny-hibino commented on #57
@gutenye Do you know if the Google library emits any event when it's loaded?

[2017-04-23 18:54] kenny-hibino commented on #56
@gutenye Great issue! Thank you for this suggestion. I'll look into this and adding support for that 👍

[2017-04-24 16:58] lolsheeplol commented on #61
Hi @kenny-hibino, sorry to bother you again but would the above request be in the scope of this library, or do you think it won't be supported going forward?

[2017-04-24 19:17] lolsheeplol opened #68 "npm package version doesn't match repo tags or releases"
Hi,

I'm using version 4.1.3 of this library and `npm outdated` is showing there is a new version of 5.0.0.  I was wondering if you could provide a changelog or more detailed release notes on what has changed in this update as it is a sem-ver major update.  In this repo the last release version was 2.8.0, same with the tags so it's not really possible to do a proper diff and see if there are any b

[2017-04-26 05:51] cchitsiang commented on #32
Hey @kenny-hibino, please have a look for PR #69, as currently we need this feature in place for our situation

[2017-04-26 06:05] bvellek commented on #64
Hey @kenny-hibino sorry for the delay. I reached out to the a11y community and was able to get the opinion of a few frequent users of screen readers. They recommended going with the first option to add a descriptive `<span>` so non-sighted users know they can arrow down as they type to see suggestions. In order to hide the span visually, I added the styles from http://a11yproject.com/posts/how-to-

[2017-04-27 09:44] gutenye commented on #57
Not sure if there's one available

On Mon, Apr 24, 2017 at 2:52 AM, Ken Hibino <notifications@github.com>
wrote:

--
JavaScript, Go, Linux and Open Source
- g <http://GutenYe.com>uten.me
- github.com/g <http://Github.com/GutenYe>utenye

[2017-04-30 21:06] kenny-hibino commented on #61
@lolsheeplol I need to look into this. Please feel free to fork this repo and experiment with `PlaceSearchRequest` API 👍

[2017-04-30 21:07] kenny-hibino commented on #64
@bvellek Thank you so much. I just left a comment in your PR. Please take a look 👍

[2017-04-30 22:03] kenny-hibino commented on #68
@lolsheeplol Thank you for reporting this! I will look into this. This project is using `commitizen`, `cz-conventional-changelog`, and `semantic-release` for the versioning. I noticed there's a mismatch between this repo on Github and on npm.

[2017-04-30 22:03] #35 closed

[2017-05-01 23:44] bvellek commented on #64
@kenny-hibino made some changes! let me know if that works for you or if you would like me to change anything else.

[2017-05-03 06:23] SachaG opened #72 "Get establishment name"
I saw the four types mentioned in the [Places docs](https://developers.google.com/maps/documentation/javascript/reference#AutocompletionRequest).

I see how I can limit the autocomplete to establishments, but is there a way to specifically get the establishment *name* in addition to its address? So instead of "John's Restaurant, Pasadena, CA, USA", I would like to get "John's Restaurant".

[This a

[2017-05-03 06:40] SachaG commented on #72
Oh I just saw that `onSelect` does pass `place_id`. I think I get it now.

[2017-05-03 07:03] SachaG commented on #72
Here's the finished code for my wrapper component in case anybody else finds it useful:

[code]

The only API I could find that supports getting place details from a place ID was `google.maps.places.PlacesService`, and it requires being passed an HTML element for some weird reason. If anybody knows of a better API I'd be happy to use that instead.

[2017-05-03 07:03] #72 closed

[2017-05-04 08:14] jwamsterdam opened #73 "After update material-ui library, repo not working anymore"
wrong repo.. sorry

[2017-05-04 08:19] #73 closed

[2017-05-06 00:25] SADA-Sam opened #74 "`onEnterKeyDown` does not trigger when no autocomplete item exists."
`handleEnterKey` exists prematurely if `autocompleteItems` is empty.

It seems like this behavior was added in #53 as a response to an exception caused in `handleKeyDown` and it's subsequent call to `selectActiveItemAtIndex`. However `handleEnterKey` does not use the `selectActiveItemAtIndex` function so this check does not appear necessary, and prevents the `onEnterKeyDown` callback from triggeri

[2017-05-09 07:45] TryingToImprove commented on #57
Yes.. They have the callback-query.

https://developers.google.com/maps/documentation/javascript/examples/place-search

[code]

[2017-05-11 21:58] hailwood opened #75 "No 'powered by google' logo?"
As noted by google here:
https://developers.google.com/maps/documentation/javascript/places-autocomplete#fig1

I've noted that this package does not seem to include the logo; Is this valid usage or should this package be showing the logo?

[2017-05-13 21:09] #56 closed

[2017-05-17 22:08] nschurmann opened #79 "Is debounce supported?"
Hello!, is debounce supported?, tryed to implement it with lodash but it seems that is tight coupled with the component.

[2017-05-18 03:55] kenny-hibino commented on #79
@nschurmann  Thank you for opening this issue!
Not currently, but we should add support for that 👍 I'll put that on my todo list. Feel free to submit a PR if you are interested.

[2017-05-18 16:47] nschurmann commented on #79
Now is supported, please @kenny-hibino check my pull request.

[2017-05-19 05:49] #79 closed

[2017-05-19 17:33] kenny-hibino commented on #74
@SADA-Sam You are absolutely right!

[2017-05-19 17:36] #74 closed

[2017-05-22 04:26] kenny-hibino commented on #61
Closing this issue

[2017-05-22 04:26] #61 closed

[2017-05-22 04:28] kenny-hibino commented on #41
Closing this issue

[2017-05-22 04:28] #41 closed

[2017-05-22 04:55] hibiken opened #82 "Add "Clearable" prop for clear "X" button"
Add `clearable` boolean prop & Add `clearButton` prop (functional react component)

[2017-05-24 07:38] piya23300 opened #83 "How to refer to input inside the component?"
I want to focus input element after the component did mount.
Example case: The user clicks `change` button after that the search input will be focused.

How to refer to input inside the component?

[2017-05-24 10:12] karamat commented on #83
I need the same. There is not way to reference input.

[2017-05-24 12:28] piya23300 commented on #83
@karamat I solved it.

[code]

You can use
[code]

[2017-05-25 10:56] OlenaPianykh opened #84 "Add matching_substrings property to autocompleteItems and formattedSuggestion"
Hello!

I'm using your component and I need to highlight matching parts of predictions and user's input string.
As I know, in predictions set, returned by request, there is property 'matched_substrings' with the set of matches' length and offset.
Is it possible to add this property both to autocompleteItems and to formattedSuggestion, so it is possible to access matches through "render" using "aut

[2017-05-25 23:54] kenny-hibino commented on #84
@OlenaPianykh Thank you for opening this issue. I can see this feature is useful to other users too. I will add this feature. If you are interested, feel free to work on it and submit a PR too 👍

[2017-05-27 18:50] rubenabergel opened #85 "Add street number to places address"
Typing a place such as a restaurant or a bar return only the street without the street number.

[2017-05-27 23:43] #23 closed

[2017-06-02 04:19] hailwood commented on #75
ping for @kenny-hibino as we need to be all above board this is a dealbreaker for us; Any info?

[2017-06-04 06:22] ShayanJa opened #87 "Autocomplete doesn't work on mobile"
The places autocomplete doesn't work on my mobile phone, has anyone been able to use it on mobile? Excuse me if this issue has already been presented, I could not find it elsewhere

[2017-06-04 07:36] kenny-hibino commented on #87
@ShayanJa Thank you for opening this issue. Could you provide which mobile browser you are using and which phone (Android/iPhone)?

[2017-06-04 15:23] ShayanJa commented on #87
Yes I was using iPhone 6 on safari

[2017-06-04 15:55] kenny-hibino commented on #87
What problems are you seeing? I'm on iPhone 6S and I tested with Safari and Chrome and both are working for me. Would you mind opening this page in your phone [Demo](https://kenny-hibino.github.io/react-places-autocomplete/)

[2017-06-04 17:01] ShayanJa commented on #87
Wow that's so weird, it works. what settings are u using, on mine, the autocomplete bar doesn't come down

[2017-06-04 18:35] kenny-hibino commented on #87
You can see the code for the Demo under `/Demo` directory in this repository 👍

[2017-06-04 21:18] ShayanJa commented on #87
I integrated your demo src code into mine. exactly as written. it works fine on comp but not mobile. I don't know what is up, i'll try and figure it out. thanks

[2017-06-05 03:45] kenny-hibino commented on #87
Closing this for now 👍

[2017-06-05 03:45] #87 closed

[2017-06-05 20:47] lolsheeplol commented on #68
Any update on this?  I am still on a 4.x version of the lib and haven't updated to 5.x because I'm not sure what all the changes are.  A Changelog.md would be extremely helpful!

[2017-06-05 21:22] lolsheeplol commented on #68
I can kind of guess what the changes are, just based on diffs for your commits to the README.

It seems like the updates from 4.x to 5.x are briefly:
- `<PlacesAutocomplete />` now accepts a `inputProps` object rather than the exposed props [1](https://github.com/kenny-hibino/react-places-autocomplete/commit/e3b94c516ff248bfe4ec7fed296e462e7a333b05)
- `geocodeByAddress` method changed to a promise

[2017-06-07 21:47] negomi opened #88 "Uncaught Error: Missing parameter. You must specify input."
Steps to reproduce:
1. Type some letters into the field
2. Hold down the delete key to delete the letters
3. The error appears when all the letters have been deleted

Reproducible on the demo page:

<img width="1093" alt="screen shot 2017-06-07 at 2 45 23 pm" src="https://user-images.githubusercontent.com/3727684/26902946-055bcc90-4b90-11e7-80a5-4b38d78b218c.png">

[2017-06-08 05:55] #88 closed

[2017-06-08 05:57] kenny-hibino commented on #88
@negomi Thank you for reporting this issue! Just added a patch, please install the latest version which includes the fix 👍

[2017-06-08 17:26] negomi commented on #88
Perfect, thank you for the quick response! 😃

[2017-06-18 02:56] heymartinadams opened #90 "Is it possible to bind API key via runtime env variable?"
Currently, you have to insert JS in main html file, like this:
`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=___API_KEY___&libraries=places"></script>`

Would it be possible, perhaps in a future version, to add the API key & Google Places API inside the code, like this? That way the API key remains hidden in production.
`geocodeByAddress.key(process.env.REACT_APP

[2017-06-23 08:11] AlexandreKilian opened #92 "Selection of autocomplete doesn't work on mobile (iOS Safari)"
due to this part here, only mouse events are valid for selection

[code]

changing `onMouseDown` to `onClick` or adding `onTouchEnd` and `onTouchStart` events should fix this.

[2017-06-23 08:13] AlexandreKilian commented on #92
I added a pull request for this:

https://github.com/kenny-hibino/react-places-autocomplete/pull/93

[2017-06-27 09:20] Artur-A opened #94 "Debounce cancellation on Enter Key"
Hi,

Our users find inconvenient to use Enter Key with auto complete in a fast manner.

1. Open https://kenny-hibino.github.io/react-places-autocomplete/
2. Paste 'New York, NY, United States' text in the input field and _immediately_ press Enter key.
3. In 1-2 seconds the popup list with suggestions will be opened. If some presses Enter key second time the popup will be closed.

This is annoying

[2017-07-07 14:41] brotzky commented on #75
@hailwood we ended up manually adding in the logo with some simple CSS and a wrapping div. You're correct in pointing out the 'Powered by Google' is required.

[2017-07-07 17:18] leoi11 opened #95 "root not having a z-index causes .autocomplete-container to be hidden by other relatively positioned elements"
I found a UI issue when there is a relatively positioned element below the autocomplete input.
I am not familiar with z-index but my guess is when 2 elements (e.g. root and another element A) are rendered with `position: relative`, they implicitly shares the same z-index, but when there is a child of one of these elements (`.autocomplete-container` in this case) and the child overlaps with element

[2017-07-10 06:33] stevokk commented on #57
To solve this using HOC, I wrap this component with a component from another google map library:

[code]

[2017-07-13 16:06] Tenkir opened #96 "Callback is Not Defined"
**Issue:**
geocodeByAddress does not work with promises as documentation states. Must be passed a callback.

**Error:**
`utils.js:21 Uncaught TypeError: callback is not a function`

**Version:**
v5.3.1

**Code:**
[code]

[2017-07-13 16:59] kenny-hibino commented on #96
@Tenkir Thanks for reporting! I will take a look at this issue this week 👍

[2017-07-27 11:30] shaheerakhlaq commented on #57
Getting error google map is not defined..

Any suggestion ?

[2017-07-27 23:23] stevokk commented on #57
@shaheerakhlaq You need to make sure the google maps library is loaded, one way to do this is waiting for the load event before showing this component, you do this using Higher Order Components.

@TryingToImprove Why the downvote? Your solution relies on a global function outside of the React component.

[2017-07-28 05:41] TryingToImprove commented on #57
@stevokk It requires you to import a the `react-google-maps`-package which seems unrelated to the repo.

The solution with having a HoC is fine. It would be awesome if `withScriptjs` was a package for it's own.

[2017-07-28 05:55] stevokk commented on #57
I see, maybe this library should implement the same HOC functionality, the solution works fine for me as webpack 2 applies tree shaking to remove the unused parts of that library

[2017-07-28 06:04] TryingToImprove commented on #57
Maybe, as the library stands now it does make a assumption that the Google API is loaded. You might have used the Google API for something different, and the `PlacesAutocomplete`-component does not require having a apiKey.

But I think that having a "clone" of https://github.com/tomchentw/react-google-maps/blob/master/src/lib/async/withScriptjs.js would make a good solution.

[2017-08-05 18:54] #75 closed

[2017-08-05 19:20] kenny-hibino commented on #75
@hailwood Thank you for creating this issue!! The library now supports this 👍

[2017-08-06 13:11] diligiant opened #102 "google's getPlacePredictions doesn't cope with options as illustrated in the props doc"
In the documentation, you suggest
[code]

but this leads getPlacePredictions to return `INVALID_REQUEST` as [documentation](https://developers.google.com/maps/documentation/javascript/places-autocomplete#place_autocomplete_service) shows that the call should have an prod field and an options prop.

This was working before but I guess google's api is more strict now. I was able to overcome the prob

[2017-08-06 14:32] kenny-hibino commented on #102
@diligiant Thank you for reporting! Would you mind checking your `google.maps.version`?

[2017-08-06 14:35] diligiant commented on #102
3.29.14

[2017-08-06 14:38] kenny-hibino commented on #102
I'm using the exact same version in the demo. The `options` props seem to be working fine there, would you mind double checking the keys of options?

[2017-08-06 14:44] diligiant commented on #102
I did before! Which example are you talking about? (in `https://kenny-hibino.github.io/react-places-autocomplete/` options is `{}`)

[2017-08-06 14:46] kenny-hibino commented on #102
I just added options locally and could not reproduce the error.

[2017-08-06 14:49] diligiant commented on #102
ok, diving in… ;(

[2017-08-06 14:51] kenny-hibino commented on #102
You can try this snippet to test

[code]

Try this in your console 👍

[2017-08-06 15:25] diligiant commented on #102
so…
your example works just fine (btw, is `address` valid? I don't see it in [AutocompletionRequest](https://developers.google.com/maps/documentation/javascript/reference#AutocompletionRequest))

It works too if I replace address by `geocode` or `(cities)`. But if I replace it by both of them, it doesn't anymore (it used to).

What's really weird is that I did then modify the jsfiddle [here](https

[2017-08-06 15:34] kenny-hibino commented on #102
Okay, I'll keep this issue open for now, in case someone else encounter the same problem. In the meantime, please use the `options` that work for you 👍

[2017-08-06 15:36] diligiant commented on #102
I'm gonna go to the bottom of this…

[2017-08-06 16:34] diligiant commented on #102
Nevermind, it seems that Google fixed a lenient API…

[2017-08-06 16:34] #102 closed

[2017-08-07 05:12] kenny-hibino commented on #102
@diligiant Thank you for taking a look at this 👍

[2017-08-07 15:03] yannskee opened #103 "Powered By Google not being imported - Require Cannot find module"
Hello, I get this error since lastest release 5.4.0, please help !

`Uncaught Error: Cannot find module 'react-places-autocomplete/images/powered_by_google_default.png' from 'react-places-autocomplete/dist/PlacesAutocomplete.js'`

Line 372 of /node_modules/react-places-autocomplete/dist/PlacesAutocomplete.js  is generating the error.
`          this.props.googleLogo && _react2.default.createElemen

[2017-08-07 16:22] kenny-hibino commented on #103
@yannskee Thank you for reporting this! Will fix this ASAP

[2017-08-07 17:31] kenny-hibino commented on #103
@yannskee Could you check again? I just rebuilt and published to NPM registry

[2017-08-07 18:38] yannskee commented on #103
@kenny-hibino just did a npm remove then npm install and I got this version "react-places-autocomplete": "0.0.0-semantically-released", i'm guessing this is normal.
I've tested and I am still getting the same error message. I will keep looking on my side, there is a very good chance the issue is coming from my env. I will keep you posted. Thanks again for the help :)

[2017-08-08 03:05] ericluwj opened #104 "Input should set autocomplete="off" by default"
I am placing this input into a form with other inputs which I still intend to have the autocompletion function, so I can't turn off autocompletion for the whole form.
How to set the input attribute `autocomplete` to `off`?
Doesn't it make sense also for this input box to automatically disable autocompletion?

[2017-08-08 03:24] kenny-hibino commented on #104
@ericluwj You can pass any arbitrary props to the input element through `inputProps`.
I think the following is what you want

[code]

Would this work for you?

[2017-08-08 03:27] kenny-hibino commented on #92
Closed via #93

[2017-08-08 03:27] #92 closed

[2017-08-08 03:33] kenny-hibino commented on #57
Support for async library loading sounds like a great addition to the library 👍
Pull Request is welcome!

[2017-08-08 04:18] ericluwj commented on #104
@kenny-hibino Thanks, this would work. I did not realize `inputProps` actually contains flexible props for the input field.
However since the browser's autocompletion widget would clash with this autocompletion widget, should not the `autoCompletion` attribute be disabled by default?

[2017-08-08 04:30] kenny-hibino commented on #104
@ericluwj Could you explain or submit a code snippet where this would be an issue?

[2017-08-08 04:40] ericluwj commented on #104
![untitled-1](https://user-images.githubusercontent.com/1736023/29056573-6a048318-7c36-11e7-8077-84d4c62db01d.jpg)
This is what will happen if the input field coincidentally activates browser autocompletion as well.

[2017-08-08 06:36] kenny-hibino commented on #104
Ahh I see. I will add that default 👍

[2017-08-08 06:36] ericluwj opened #106 "Possible to have a callback if no autocomplete item is selected?"
I am facing an issue whereby I would like to clear the value if no autocomplete item was selected.
The exact scenario is whereby I had typed in an address and then moved to the next field by pressing "Tab" without selecting any autocomplete item.
In order to invalidate the input field, I would want to clear the filled in address.

[2017-08-08 06:47] kenny-hibino commented on #106
Would this work for your use case?

[code]

[2017-08-08 07:39] ericluwj commented on #106
Oh this seems to work. Thanks a lot.

[2017-08-08 07:41] TryingToImprove commented on #57
I can create a pull-request.. I will just use the same way as react-google-maps as I linked above

[2017-08-08 10:14] FbPalmabit commented on #104
@kenny-hibino this doesn't work for me
`const inputProps = {
  onChange: this.handleChange,
  value: this.state.address,
  autocomplete: 'off',
}
 `

[2017-08-08 10:20] ericluwj commented on #104
It should be:
[code]

Note it is `autoComplete`, not `autocomplete`.

[2017-08-08 10:39] yannskee commented on #103
@kenny-hibino forgot to mention, I am using brunch on a phoenixframework. Could that be where my issue is coming from ?

brunch-config.js
`exports.config = {
  // See http://brunch.io/#documentation for docs.
  files: {
    javascripts: {
      joinTo: "js/app.js"

      // To use a separate vendor.js bundle, specify two files path
      // http://brunch.io/docs/config#-files-
      // joinTo: {

[2017-08-08 14:55] #104 closed

[2017-08-08 16:20] TryingToImprove commented on #90
This seems like a issue which #57 will solve?

[2017-08-12 09:08] cortesa opened #110 "Fixed suggestion"
Crate a prop FixedItem that are fixed on top of the suggestion's dropDown, it works like AutocompleteItem but render before suggestions this are defined by user using an array:

New porp for __`<PlacesAutocomplete/>`__,  __`fixedItems`__ type array

[code]
__Props of the fixtures objects.__
  label = Text to show in dropdown suggestions list
  location = Coords that define the location
  placeId =

[2017-08-12 18:43] bogutski opened #111 "How to include maps.googleapis.com/maps/api/js in component, not in HTML ?"
Hi! What you recommend  to do this?

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>

[2017-08-13 19:27] helloncanella commented on #103
+1

[2017-08-13 20:15] kenny-hibino commented on #103
@helloncanella Are you using `webpack` to bundle assets?

[2017-08-14 07:59] ducdigital commented on #103
The answer is to add `url-loader` in your project package.json.

I just added the package and it work fine.

I think it's better to specify it in this project `package.json` if possible because in my case I do not use url-loader

[2017-08-14 09:30] Floriferous commented on #103
This is a breaking issue for me, adding url-loader did not fix it, since I am not using webpack.
I am on version 5.3.1

[2017-08-14 10:19] timfisher commented on #103
Also getting this problem

[2017-08-14 17:35] kenny-hibino commented on #103
Thank you for reporting. @Floriferous @timfisher are you guys using Webpack? if so, could you try adding [`file-loader`](https://github.com/webpack-contrib/file-loader) to your webpack config?

[2017-08-15 08:36] timfisher commented on #103
Tried with file-loader was using url-loader, no luck, here is my full webpack.config.js file. I am using SPAServices with .net core

const path = require('path');
const webpack = require('webpack');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const CheckerPlugin = require('awesome-typescript-loader').CheckerPlugin;
const bundleOutputDir = './wwwroot/dist';
const CopyWebpackPl

[2017-08-15 09:11] Floriferous commented on #103
I'm not using webpack. Tried adding `file-loader` anyways, which did not solve the issue.

[2017-08-15 17:05] Floriferous commented on #103
I wrote a custom implementation of the autocomplete rendering, so the logo wasn't showing anyways. For me a quick workaround is to set the `googleLogo` prop to `false`, and add the image later myself when we go live, or if someone can find a fix.

[2017-08-20 15:39] timfisher commented on #111
I used https://www.npmjs.com/package/react-load-script and then initalised the autoloader when the scriptloaded has called

[2017-08-20 15:42] timfisher opened #112 "Autocomplete value onchange is ignoring options"
The drop down works with these options:

const options = {
types: ['address'],
componentRestrictions: {country: 'uk'}
}

However the onChange value from the typed in text remains in the USA until the dropdown is clicked.

[2017-08-21 17:38] kenny-hibino commented on #112
@timfisher Thank you for reporting!
 Could you provide more details?

[2017-08-22 09:29] timfisher commented on #112
Kenny, please see the video here:

https://sendvid.com/idj0zws3

[2017-08-22 17:23] kenny-hibino commented on #112
I see. Would you mind providing me a code snippet for rendering these input fields?

[2017-08-23 13:40] timfisher commented on #112
Hi Kenny,

I think the problem is in geocodeByAddress in utils.js, I've had to replace the geocode with:

      geocoder.geocode({'address': address + ', United Kingdom' }, function (results, status) {

The problem is it doesn't match the first result (I would rather it matched), could you help with that?

[2017-08-25 12:08] FinnFrotscher commented on #103
+1

[2017-08-28 15:29] dummerbd opened #113 "Change react dependency to peer dependency"
Most react packages put react in the `peerDependencies` section of the `package.json`. I'm not expert on npm but to my understanding this avoids multiple copies of react being placed in the dependency tree. I noticed my build size increased more than I expected after installing this so I dug around and found that changing your `package.json` removed an extra copy of react.

[2017-08-28 16:42] kenny-hibino commented on #113
@dummerbd Thank you for creating this issue! You are definitely right, I'll make that change 👍

[2017-09-01 17:34] MMachado-uy opened #114 "Autoselect/Capture specific options from suggestions"
* Scenario:
    I have an application where you select a city and filter services from there, the `autocompleteItem` is filtered by country (not US).
* Problem:
    If a user sets a value but doesn't select any option from the suggestions, the submission of the form searches for the input everywhere, resulting in finding an undesired location in most cases.
* Solution/Need:
    Some kind of return

[2017-09-02 05:48] TylerL-uxai opened #115 "Needs the logo"
Uncaught Error: Cannot find module './images/powered_by_google_default.png'

[2017-09-02 13:37] kenny-hibino commented on #115
I will combine this issue with #103

[2017-09-02 13:37] #115 closed

[2017-09-03 01:24] #113 closed

[2017-09-03 07:11] jmlag commented on #103
I can't replicate this, but if someone could post a link to their repo or something I could give it a try.

Or for a short-term fix you could just point the image src directly to the Google-hosted images:
https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png
https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-non-white3_hdpi.png

[2017-09-05 01:09] TylerL-uxai opened #117 "Css with styled-components"
Don't know why they did this, because it's made it impossible for me to set a simple css style for 2 days... but react-boilerplate ( https://github.com/react-boilerplate/react-boilerplate ) uses a module called styled-components. Any idea how to make the SimpleForm work with styled-components?

[2017-09-05 06:05] lauterry opened #118 "Cannot scroll suggestion on mobile"
Hello

When the list of suggestion appears on a mobile device, users tends to scroll to look for their address in the list of address suggestion.

However, when the user scrolls by putting their fingers on the suggestions area, an address is selected and the list of suggestions disappear.

Here is a hint for a possible solution :  https://stackoverflow.com/a/32120668

Best regards

[2017-09-05 12:52] parvinder19922 commented on #43
Hi  ,
@ablbol
I have done this by putting input in inputProps

have a look
return (
		<div className={`form-group${hasError ? ' has-danger' : ''}`}>
			<label className="form-control-label" htmlFor={id}>{label}</label>
			<PlacesAutocomplete
				id={id}
				{...rest}
                               inputProps={input}
				typeAhead={false}
				inputName={input.name}
				autocompleteItem={Autocomplet

[2017-09-05 13:32] yunyu opened #119 "Using with next.js"
I'm not really sure where to report this issue, but basically, the inclusion of Google image imports makes this very difficult to use with next.js (SSR).

When I follow the instructions, I end up getting

[code]

Would you happen to know anything about how to resolve this? All of the existing answers that I've seen involve handling images on project code, not external components.

(I personally th

[2017-09-05 22:44] j commented on #117
@TylerL-uxai the only way I got by was to add a wrapper and set the classNames manually.

[code]

These are snippets of what I had to do.  Felt nasty but works.  I'm using styled-components & redux-form.

[2017-09-06 00:27] TylerL-uxai commented on #117
Omg, thank you so much for all the effort you put in to this! Can I PM you about my project? It's very simple and maybe we can work together to finish it.

[2017-09-08 03:53] TylerL-uxai commented on #117
I'm getting this.autocomplete is not a function when I add parenthesis.
`
{this.renderAutocomplete}`

Eliminates the error but it won't render, even if I do the following

[code]

[2017-09-08 06:55] DaddyWarbucks opened #121 "Component should render suggestions when inputProps.value changes"
The component only fetches predictions when a change happens on the internal input element's `onChange` method. This means that if an external source changes `inputProps.value`, the component does not render the suggestions list.

I want to use my own input component (specifically the MUI `<Field />`). I saw where this was removed from a previous version that allowed you to add children to the com

[2017-09-10 04:08] kenny-hibino commented on #121
@DaddyWarbucks Sounds like a good idea! PR is welcome!

[2017-09-13 08:16] lauterry commented on #118
Hello

I haven't got any feedback on this issue yet.

I want just to make sure that you have understood my point. If not, I'll try to re explain.

Best regards

[2017-09-14 17:14] kenny-hibino commented on #118
@lauterry Thank you for reporting. Would you mind explaining in detail? It would be helpful if you could provide the current behavior and expected behavior of the component 👍

[2017-09-15 16:16] edgareler opened #122 "PlacesAutocomplete is changing an uncontrolled input of type search to be controlled"
I'm receiving this warning when start typing a place:

[code]

This is the error stack:

[code]

[2017-09-18 09:51] lauterry commented on #118
Hi @kenny-hibino

In order to reproduce the issue, please open https://kenny-hibino.github.io/react-places-autocomplete on a mobile phone.

1. Click on the input
2. The virtual keyboard appears
3. Enter an address
4. Suggestions appears but remains invisible due to the virtual keyboard
5. The natural behavior is to scroll the page to view all the suggestions. However, if you scroll by putting the

[2017-09-18 11:33] spykr opened #123 "Touch action on suggestion also triggers elements beneath"
I'm having an issue on mobile where touching a suggested address will also trigger any clickable elements behind it.

You can test this on my web app: https://www.darcyglennen.com/routefinder/

Open Chrome, press "toggle device toolbar" in the dev tools to switch the viewport to a phone view with touch emulation. Type a random number in the 1st input box and click the address suggestion that is ov

[2017-09-18 16:55] kenny-hibino commented on #123
@spykr Thank you for submitting this issue! I followed your instruction and I see that touch event propagates to other elements. Seems to be a bug.  I'm guessing `event.stopPropagation` on touch event will fix this. PR is welcome!

[2017-09-18 17:00] kenny-hibino commented on #118
I see, this needs to be fixed for a better mobile experience. Thank you for reporting this @lauterry ! PR is always welcome 👍

[2017-09-20 20:30] ccsheeha commented on #103
+1

[2017-09-26 16:25] niiapa commented on #122
You're probably passing in a  null or undefined address. Pass it an empty string and check. It's a react issue (not an issue but a structure) not a problem with the lib.

[2017-09-26 16:27] niiapa opened #125 "geocodeByAddress undefined lat,lng"
In the function:
`geocodeByAddress('Tokyo, Japan')
.then(results => getLatLng(results[0]))
.then(({ lat, lng }) => console.log('Successfully got latitude and longitude', { lat, lng }))
`
the second thennable creates an error because it says it's trying to retrieve the lat and lng of an undefined object. I've tried it multiple ways, it doesn't work. Thanks.

[2017-09-26 17:03] kenny-hibino commented on #125
I see. This needs to be fixed. Thank you for reporting @niiapa !

[2017-09-26 17:08] kenny-hibino commented on #122
Hope @niiapa 's comment helps @edgareler ! Closing this issue 👍

[2017-09-26 17:08] #122 closed

[2017-09-26 17:10] niiapa commented on #125
Turns out it's just a typo in the readme. The .then function should be on the `getLatLng` function. The found the snippet at the bottom of the repo page. Thanks.

[2017-09-26 17:10] #125 closed

[2017-09-26 17:14] kenny-hibino commented on #119
@yunyu Thank you for opening this issue!
I like the idea of moving the option to add Google image to a prop. It might be more useful to add an optional `footer` prop, where the user of the library can provide a simple functional component to customize dropdown footer.

[2017-09-26 17:17] kenny-hibino commented on #103
Would it make sense to remove Google Image from the library and add an optional `footer` prop so that user of the library can provide their custom footer element for the dropdown?
Feedback would be appreciated!

[2017-09-26 18:08] jth0024 commented on #119
I really like this idea. It would solve some issues for me as well.

[2017-09-26 18:09] jth0024 commented on #103
I think this sounds like a good solution. For users that wish to use a file-loader, you could still include the image in the library, but not directly referenced in code.

[2017-09-28 13:10] johnbrett opened #126 "Force autocomplete dropdown open"
Hi, great work on this works pretty effortlessly out of the box.

Is there a way to keep the autocomplete tray open? I have some styling issues I'm trying to debug, but finding it quite difficult to figure out a way to keep the dropdown box open while I fix them.

[2017-09-28 17:22] kenny-hibino commented on #126
Thank you for opening this issue @johnbrett!
I can see your paint point, I have experienced similar issues with other react component libraries.

This will be a good enhancement for a better developer experience. I'm thinking something like `alwaysRenderSuggestion` boolean prop might be useful. (`react-autosuggest` has this prop).
But this might require the user of the library to provide default s

[2017-09-29 10:58] johnbrett commented on #126
`alwaysRenderSuggestion` with some default suggestion items would be perfect, as would a prop for easy debugging. Anything really, whichever is easiest to implement :D Ok will see if I can put a PR together for this.

Thanks for the quick reply also!

[2017-10-02 15:27] Goluis commented on #119
For the people trying to make the package work with next you have two options:

Stay in the version 5.3.1 or install the package [file-loader](https://www.npmjs.com/package/file-loader) (or one similar) and then add the following code to your `next.config.js` file

[code]

[2017-10-05 09:32] safestuffmicko commented on #57
Hi!

I can start with saying I'm new to react (and js in general) but I'm pretty sure I've tried every suggestion in the right way without any luck.

I still get that error and I've tried these things:
1. Tried **TryingToImprove** suggestion 9 of may => no luck.
2. Tried to import withScriptsjs (which btw seem to have been moved and they suggest you go for it this way now days:  **import { withScr

[2017-10-05 11:08] stevokk commented on #57
@safestuffmicko - Looks like your example tries to import 'withScriptsjs'

- You also shouldn't need this if you're importing the google maps library using a script tag in the head of the document.

Can you post the specific error with line number etc, or even better a reproducible example on plunkr or a similar service.

[2017-10-05 11:31] safestuffmicko commented on #57
Hi, thanks for a quick reply!

Aye i just wanted to show the latest code I've tried. As I wrote before I've tried the suggested fixes (one of which are the withScriptsjs) without any luck.

Import what you mean? More then I already are importing (see "The Index" pastebin)

Just to show the error without withScriptsjs =>
The form => https://pastebin.com/dGgZmuBZ
Same index =>  https://pastebin.com/

[2017-10-05 14:14] TryingToImprove commented on #57
Is your react script before your Google script tag?

[2017-10-06 09:04] safestuffmicko commented on #57
First of all, thank you for taking your time.

It feels like it will go smoother if you got the code so I made a git repo : https://github.com/safestuffmicko/TestingAutocomplete.git you could clone.

What I've done is simply:
1. Created an empty app
2. Added react-places-autocomplete
3. Took the example code.

Hope this will be more clear :)

[2017-10-08 05:48] andreperegrina opened #129 "Warning with the powered_by_google_inverse image"
When i use the react-places-autocomplete plugin with Webpack it appears this error:

[code]

[2017-10-08 22:38] stevokk commented on #57
I see your issue, it's to do with eslint validation not JS. do the following change:

PlacesAutocomplete.js Line 1:

/*global google*/

^ this will declare to eslint that google is a global name and will be available at runtime.

[2017-10-09 06:47] cp731 commented on #129
Add this to webpack:
 {test: /\.(png|jpg)$/, loader: 'url-loader?limit=8192' }
and npm install url-loader
fixed it for me.

[2017-10-09 08:18] andreperegrina commented on #129
¡Thanks! @cp731 it solved my problem

[2017-10-09 09:31] safestuffmicko commented on #57
Oh, I would never have figured that one out.. Big thanks!

[2017-10-14 03:37] havantuan opened #130 "Fix input to TextArea in react-places-autocomplete"
I want to convert Input to Text Aria. Please hep me.

[2017-10-14 09:11] brendonlamb commented on #103
@kenny-hibino  Please do make it a optional footer prop. I've been playing with various libraries for autocomplete and *no one* seems to be doing that... i've had to hack/hide it with dodgy CSS ...

In the meantime, is there something I can do to prevent this from failing to load in the current version? It's breaking on every keystroke when a user types (each state update appears to try and load t

[2017-10-17 00:28] JarLowrey opened #131 "Anyone have experience with using this in conjunction with react-google-maps?"
And the subsequent load order issues that arise?  https://stackoverflow.com/questions/46780770/utilizing-google-maps-in-other-components-through-withscriptjs-withgooglemap

Basically I don't want to have a script tag in my HTML header (`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>`) but would prefer to load it in asynchron

[2017-10-17 02:33] jameskennethrobinson commented on #119
@Goluis Thank you!

[2017-10-17 06:01] ktusharprdxn commented on #118
Hi @kenny-hibino, any luck in fixing this issue??

[2017-10-17 16:40] kenny-hibino opened #132 "Add support for predefined locations"
Add `defaultLocations` (Or `fixtures`) optional prop to provide a predefined locations in the dropdown

[2017-10-18 13:54] KevinRobichon commented on #118
@ktusharprdxn my fork should fix the issue
@kenny-hibino could we merge my changes into the project ?

[2017-10-18 19:25] kaizenberg commented on #119
@Goluis Thanks!

[2017-10-19 19:50] kaizenberg opened #133 "Error ZERO_RESULTS when autocomplete"
Hi everyone!

I have a doubt, when I search a place that not exist, I get this console error:

`[react-places-autocomplete]: error happened when fetching data from Google Maps API. Please check the docs here (https://developers.google.com/maps/documentation/javascript/places#place_details_responses)
Status:  ZERO_RESULTS`

Here there an image to show you:
<img width="1272" alt="screen shot 2017-10

[2017-10-19 20:23] kaizenberg commented on #83
@piya23300 Thank you!

[2017-10-20 22:48] max-favilli opened #134 "behavior of up&down keys"
Currently when the user moves up and down with the arrow keys a `onChange` is triggered.
If the user hit `enter` an `handleSelect` is triggered.
But if the user hit `tab` the list of `autocompleteItems` is cleared, the input field stay with the _tabbed_ entry and nothing is selected.
**I think this is the wrong behavior**, if the user hit tab is a select and `handleSelect` should be triggered.
Or

[2017-10-22 22:18] stevokk commented on #131
Wrap the common parent of the two components with the withJS() HOC ?

[2017-10-23 04:15] stevokk commented on #132
I've just implemented something similar this morning on my fork. (Note that this branch is built off my other pull request that fixes IE11 missed key events)

We're implementing these changes in production later this week as we need preferred results to appear at the top, would be great if we could merge all changes upstream so I don't have to maintain the fork.

Happy to discuss the changes and m

[2017-10-23 07:29] ktusharprdxn commented on #118
@kenny-hibino @KevinRobichon Any Idea when this changes will get merged in master? as this is important for my project. Also there should be option for restricting suggestions for particular locations like US only or UK or india.

[2017-10-23 09:23] OleksandrPoltavets commented on #103
Added `url-loader` to my project `package.json` worked for me as well. I'm using webpack.

[2017-10-23 17:10] JonatanSCS commented on #133
There are [`onError`](https://github.com/kenny-hibino/react-places-autocomplete#onError) and [clearItemsOnError](https://github.com/kenny-hibino/react-places-autocomplete#clearitemsonerror) handle error Optionals Props.

You need something like:

[code]

[2017-10-23 17:53] kaizenberg commented on #133
@JonatanSCS Thanks!

[2017-10-24 05:05] avinashdvv opened #135 "How to use it with redux-forms?"

[2017-10-25 00:03] JonAbrams commented on #119
@Goluis Your solution worked for me in dev mode, but once deployed to prod the image isn't there. Got any hints?

[2017-10-25 02:05] Goluis commented on #119
@JonAbrams is it happening in both SSR and client or only in one o those ?
are there any errors ?

[2017-10-25 04:19] JonAbrams commented on #119
Seems to be both.

<img width="700" alt="pasted_image_10_24_17__9_16_pm" src="https://user-images.githubusercontent.com/1243092/31980361-cc9c706a-b900-11e7-841f-229f4ecfb265.png">

I tried setting the following on `file-loader` to no avail:
[code]

I assume you've had no issues?

[2017-10-25 04:34] Goluis commented on #119
I'm not getting any error, if you can share a repo it will be good

[2017-10-25 18:16] kenny-hibino commented on #134
@max-favilli Thank you for this! I agree, google search box (also, search box in Google Maps) is a good example to follow.

I took away a few points from your explanation

- Pressing `esc` key should 1) Clear dropdown 2) Revert to last typed in text.
- Pressing `tab` key should 1) Clear dropdown 2) Select the highlighted item (if any)

As for 2) in `tab` key handler, maybe we should allow this to

[2017-10-25 20:16] quachsimon opened #136 "Settings types in options to cities not working"
I am trying to set the `types` in the options parameters to limit the search to just cities.

    const options = {
      location: new google.maps.LatLng(85, -180),
      radius: 5000,
      types: ['cities']
    }

When I do this, I receive invalid requests from the `onError` callback.

I am following the [docs](https://developers.google.com/maps/documentation/javascript/3.28/reference#Autocompl

[2017-10-26 06:07] ktusharprdxn opened #137 "onChange with handleSelect not working"
I have to store placeid and address when user clicks on suggestion item. For this I have code like this but it is not calling this.handleSelect callback.

`
const inputProps = {
      value: this.state.address,
      onChange: this.onChange,
      placeholder: 'Location or postcode'
    };
 <PlacesAutocomplete
                inputProps={inputProps}
                onSelect={this.handleSelect}

[2017-10-27 20:34] jonathanphz commented on #129
I'm getting this error but not using webpack - is there an alternative for babel?

[2017-10-27 20:40] jonathanphz commented on #119
Having same problem - don't have a `next.config.js` file and using react-places-autocomplete 5.3.1 still shows a warning.

[2017-10-31 03:18] stevokk commented on #132
Just as a note on this, you'll see I had issues around `clearItemsOnError` due to it reprocessing results when used with `onSearch`. I've added documentation about not combining these parameters but am yet to solve the underlying issue in a nice way.. My only idea right now is to keep a cache of the google predictions result so that when `ZERO_RESULTS` comes back and they want the keep the results

[2017-11-03 08:20] ktusharprdxn commented on #137
@kenny-hibino Any updates here?

[2017-11-06 13:20] stavdav1992 commented on #137
Hey had the same issue when passed my onSelect callback inside  inputProps.
When I changed my code to this:
`<PlacesAutocomplete inputProps={inputProps} onSelect={this.handleSelect} /> `
It works fine.

Somehow the module doesn't recognize onSelect as a function when it is passed through inputProps.

[2017-11-07 14:31] cscottsa commented on #123
Can we please merge this? @kenny-hibino

[2017-11-08 08:32] skeletorkun commented on #111
it would have been better to be able to pass it as a prop. (e.g. https://www.npmjs.com/package/location-autocomplete)

[2017-11-08 23:39] KamesCG commented on #135
Example

[code]

[2017-11-09 17:24] glevha commented on #134
Hi ! @kenny-hibino I agree too, this would be great if we could use tab to actually select a value !

[2017-11-11 23:58] max-favilli commented on #134
@kenny-hibino Sorry for being late in answering.

I agree on changing the behaviour of `esc` and `tab` I think it would be the standard accepted behaviour for an autocomplete field.

As for the optional behaviour of `tab`, I also agree too many options could be confusing, plus I would be happy with the new behaviour I thought you had a specific requirement for the current behaviour, that's why I s

[2017-11-15 12:47] cicer1 commented on #136
Same problem for me.

[2017-11-15 17:25] quachsimon commented on #136
@cicer1  It wasn't obvious but, I had to wrap it around parentheses exactly like the docs `(cities)` so you would have to put it like so:  `types: ['(cities)']`

[2017-11-22 05:19] msatghar opened #138 "ArrowDown/ ArrowUp does not work on Internet Explorer"
You can reproduce this by checking this project's demo link itself on IE. I tested it on IE 11.

Not only do the arrow up, down keys don't work, the console has an error:

Any plans to solve this issue? I am using this component in one of my projects and it is quite critical that this works in IE.

[2017-11-28 20:17] francisrod01 opened #139 "places list don't need zindex on autocompleteContainer"
That is a almost perfect Google Places Autocomplete!! :+1:  :)

Please I need solved this:

![screenshot from 2017-11-28 18-12-23](https://user-images.githubusercontent.com/4691768/33342074-fd3eb494-d467-11e7-8ec2-254b2fd4b7d0.png)

I think that is a part of container style but doesn't accept zindex style.

[code]

References: https://github.com/kenny-hibino/react-places-autocomplete/issues/95

[2017-11-29 13:25] francisrod01 commented on #139
I apply the bootstrap classes and solved it.

`list-group` class to `autocompleteContainer`
`list-group-item` to `autocompleteItem`

[2017-11-29 13:25] #139 closed

[2017-11-30 14:21] roybigapps opened #140 "How do I use 2 <PlaceAutocomplete> fields in the same form? (Question)"
Hello,
this is not an issue but a question: I have a react form and I need to have 2 addresses field with google autocomplete address. I am using this great extension and with 1 field, the example given is working great but when I try to add another field, It fails. they are overwrite each other. I change and gave a deferent name for the value and 2 declaration:
`this.onChange = (newOrigin) => thi

[2017-11-30 14:27] #140 closed

[2017-12-02 03:19] daose commented on #95
In my case I had to put it on `autocompleteContainer`, not `root`. Mine ended up looking like this:

[code]
[code]

[2017-12-03 04:14] jacobimpson commented on #103
Expanding on @Floriferous 's solution, this is a quick workaround that I implemented on a project until something more permanent is implemented into the package.

[code]
[code]

You lose some semantics this way, rather than having an inline image, but seems like a decent work around in the short time that could come in handy for some.

[2017-12-04 14:26] kaizenberg commented on #119
@JonAbrams, I have the same problem. Did you fix your problem?

[2017-12-04 18:28] JonAbrams commented on #119
@kaizenberg Unfortunately I haven't had the time to investigate further, so am still having the issue. Just hoping that Google doesn't cut us off for now.

[2017-12-07 13:28] kaizenberg commented on #103
@jacobimpson thank you for the solution, it's a patch but works!

[2017-12-07 18:58] Goluis commented on #119
Update: to work with a newer version than `5.3.1` using Next is probably not possible (I actually don't have any production issues, but I don't know if the image is actually doing something)

to see why here's an issue: https://github.com/zeit/next.js/issues/1926

The solution would be something like this: https://github.com/zeit/next.js/issues/1245 - But is not yet implemented

[2017-12-08 17:43] JonAbrams commented on #119
@goluis Is it possible to specify the image url as a prop? That way I can just put the google logo in the static directory.

[2017-12-08 23:00] markph1990 opened #141 "ability to save and include original input value when iterating over autocomplete entries"
I was thinking about adding ability to save input's value when no entry is selected.
I type some phrase, for example 'Berl' and I'm about to select any of the entries from autocomplete (via arrows) which would change input's value. While doing that, previous/original value is saved (in local state) to be retrieved later, for example to being included as one of autocomplete entries. Attached gif sh

[2017-12-09 04:21] sheldon-sminq opened #142 "KeystoneJS integration"
Is there a way this can be used with KeystoneJS?

[2017-12-11 14:15] arnaudambro opened #143 "how to restrict bounds in options ?"
I tried many stuff, and my last shot (not working) is the following :

    const options =  {
      location: new google.maps.LatLng(48.853, 2.35),
      radius: 200000,
      types: ['geocode', 'establishment'],
      bounds: new google.maps.LatLngBounds(google.maps.LatLng(48.8527, 2.3407), google.maps.LatLng(48.8533, 2.3503)),
      rankBy: google.maps.places.RankBy.DISTANCE,
      strictbounds:

[2017-12-13 05:47] rstormsf commented on #143
it doesn't looks like he exposes `setBounds` function which you can limit the location search

[2017-12-13 08:38] arnaudambro commented on #143
Sorry I didn't understand your point: you're saying that the `bounds` option doesn't exist ?

[2017-12-14 15:26] ThunderDev1 commented on #118
@KevinRobichon thanks for resolving the issue, however I can't seem to use your fork. I tried `npm install KevinRobichon/react-places-autocomplete` but the resulting folder only contains 3 files

![image](https://user-images.githubusercontent.com/7251011/33999485-e1908058-e0ea-11e7-9fe9-64538560b5a7.png)
Not sure what I'm doing wrong

[2017-12-24 09:16] avinashdvv opened #147 "How can i get only hospitals details ( Help Needed)"
I am using ``"react-places-autocomplete": "^5.4.3"`` . In my react app i only need hospital details. How can i get these details?

[2017-12-24 16:23] douniagit opened #148 "How to catch the Short_name in order to use it as url parameter"
Hello,

I have some difficulties to use the result for the place I have chosen, in my url param, with my state: this.state.cityQuery, which catches the "short_name" of the geocodebyaddress Library". And then, I put the state on my  react-router-dom Link, However, I can't find why it doesn't work. When I go to the next page, I have no parameters which is on my link, Yet, if I use this.state.address

[2017-12-29 20:02] Engineering-Robert opened #150 "'google' is not defined error when using new google.maps.LatLng"
When trying to set the options for the component, I run into the error:

`'google' is not defined  no-undef`

Here is what my options props looks like for the `PlacesAutocomplete` component:
[code]

I've got the script tag for the Google API in my index.html file and everything else works properly, but I cannot create access the google.maps object from the API for some reason.

Any help would be a

[2017-12-29 20:12] Engineering-Robert commented on #150
I solved this by adding the following to the top of my component to tell my React app that the `google` name will be available globally on run time:

`/*global google*/`

Solved it thanks to [this comment](https://github.com/kenny-hibino/react-places-autocomplete/issues/57#issuecomment-335043874).

[2017-12-29 20:12] #150 closed

[2018-01-08 21:56] Steffi3rd opened #152 "Since update to react 16, I have an error"
Warning: Failed prop type: Cannot read property 'hasOwnProperty' of undefined

How to fix that please?

[2018-01-10 15:48] joenot443 commented on #123
I'm still getting this bug - can we consider merging the fix?

[2018-01-13 09:08] brendonlamb commented on #118
Any updates on this? Just finding this bug on my app as well

[2018-01-13 09:54] brendonlamb commented on #123
while i'm confident @spykr  's solution would work as well, I noticed i'm having similar issues with another library. Currently a simple solution to this is to just install **react-fastclick**

https://github.com/JakeSidSmith/react-fastclick

Cheers!

[2018-01-13 18:33] Th3Mouk commented on #143
@kenny-hibino hi ! Can u please help us ? It seems pretty easy but I don't know how to do.

The query should look like this: `https://maps.googleapis.com/maps/api/place/autocomplete/xml?input=Amoeba&types=establishment&location=37.76999,-122.44696&radius=500&strictbounds&key=YOUR_API_KEY`

Probably just a PropType to add ?

[2018-01-16 09:53] KevinRobichon commented on #118
@ThunderDev1 you can use the branch #dist-in which contains dist/ folder built with my changes. Don't forget to clean the npm or yarn cache before installing

[2018-01-19 12:14] antoniobrandao opened #158 "Ability to style input when autocompleteContainer is open"
I don't seem to find an option that would allow me to apply a specific style to the `input` when the results container is open.

What I am trying to achieve, is, having styled my input with rounded corners, I would like the bottom-left and bottom-right corners to become flat when opening the results container.

Is this option absent or am I missing something?

[2018-01-20 10:41] karlbohlmark commented on #134
I really need this as well, please consider going forward with this change. I would also be happy with just receiving the placeId as a second parameter to onChange when it's available

[2018-01-24 07:40] kkseven07 opened #160 "Wrong LatLng"
Trying to search for "almaty gagarin 196" in demo, I got lat: 43.219...., lng: 76.897...
However, in my app, for exactly same search I got different coordinates(lat:43.2311..., lng:76.895..)
The difference is small, but it is very essential for my project. Why does this happen? I got different coordinates from demo for addresses, and the same for places(but not always)
My component
[code]
UPDATE:

[2018-01-24 09:54] KarthickRaja3018 opened #161 "react-google-autocomplete not working on page refresh"
I am loading google service inside the script tag
 <Script
            url="https://maps.googleapis.com/maps/api/js?key=key&libraries=geometry,drawing,places"
        />

for the first time its working fine when I refresh the page its not working throwing error as google map must be loaded

[2018-01-25 06:41] #161 closed

[2018-01-25 07:47] galto4ir commented on #161
It's just api limit, try again tomorrow or create your own api

[2018-01-28 02:45] pjho commented on #112
I was just having the same/similar problem. It seems theres no way to pass options to the geocode lookup, so while you can specify `componentRestrictions` for the suggestions it's not passed onto the `geocodeByAddress` util.

If you are not using the to-be-deprecated callback parameter on [geocodeByAddress](https://github.com/kenny-hibino/react-places-autocomplete/blob/master/src/utils.js#L1) then

[2018-01-28 08:56] impetus1 commented on #160
Is google maps 'pinning' to a specific location(place) when inputting that lat+lng?

[2018-01-28 19:58] kenny-hibino commented on #158
@antoniobrandao Thank you for submitting this issue!
You're correct, this option is absent. Sounds like a useful feature. I'll add this to the feature list 👍

[2018-01-28 20:02] kenny-hibino commented on #143
Sorry for a late reply. I need to investigate this further

[2018-01-28 20:04] kenny-hibino commented on #142
I personally haven't used KeystoneJS framework but I believe it's possible to use it if you can write your own component in React.

[2018-01-28 20:04] #142 closed

[2018-01-28 20:05] #135 closed

[2018-01-28 20:08] kenny-hibino commented on #141
@markph1990 Yes, this looks like the behavior in Google Maps. Let's add this ability 👍

Thank you for submitting this issue!

[2018-01-29 12:32] alexbigapps23 opened #162 "redux form onSelect"
hi how i can use onSelect on redux form ?

`import React, { Component } from 'react';
import axios from 'axios';
import config from '../../config/dev';
import moment from 'moment';
import Moment from 'react-moment';
import InputText from '../../components/FormElements/InputText';
import InputCheckBox from '../../components/FormElements/InputCheckBox';
import DatePicker from 'react-datepicker';
imp

[2018-01-29 15:48] alexbigapps23 opened #163 "redux from"
hi you can add please redux form example by onSelect?

[2018-01-29 16:59] Th3Mouk commented on #143
I've investigated, it seems this functionality is not implemented on the autocomplete service library yet. They're is a task on google tracker somewhere.

With API call : https://developers.google.com/places/web-service/autocomplete
There is an implementation of strictBounds

But no on the current AutocompletService: https://developers.google.com/maps/documentation/javascript/reference#Autocomplet

[2018-01-30 00:11] chrisrichard commented on #118
I need this too.

[2018-01-30 00:53] MaxGabriel commented on #50
@JohnnyKNL or @nathanmathis did you ever figure out a way to do this (get the individual address components, not just the full address)? I wanted to have the first field be an autocomplete field, and if you selected an address the region, country, postal code, etc. would be filled in automatically (similar to [Google's example](https://developers.google.com/maps/documentation/javascript/examples/p

[2018-01-30 12:15] kkseven07 commented on #160
updated, found the bug.

[2018-01-30 12:19] kkseven07 opened #165 "Button search"
How to trigger searching for place by button, not by selecting autocomplete suggestion?

[2018-01-30 21:42] kenny-hibino commented on #165
@kkseven07 Could you explain this in detail? Example would be helpful 👍

[2018-01-30 21:43] kenny-hibino commented on #160
Closing this since it seems like it's not caused by the libarary

[2018-01-30 21:43] #160 closed

[2018-01-30 21:46] kenny-hibino commented on #118
@KevinRobichon Sorry for not reviewing PR for so long. Left comments in the PR 👍

[2018-01-30 21:48] kenny-hibino commented on #143
@Th3Mouk Thank you for investigation this! Closing this issue for now.

[2018-01-30 21:48] #143 closed

[2018-01-30 21:49] kenny-hibino commented on #117
@TylerL-uxai Is the library incompatible with Styled-Component library?

[2018-01-30 21:52] kenny-hibino commented on #119
This won't be an issue with v6.x or above 👍

[2018-01-30 21:52] #119 closed

[2018-01-30 21:57] kenny-hibino commented on #163
Closing this because it's a dup of #162

[2018-01-30 21:57] #163 closed

[2018-01-31 07:19] kkseven07 commented on #165
I want to enter the address, click the button and get the coordinates if such address exists, if not - error. Are there any prop methods like this?

[2018-01-31 08:47] mollynordh opened #166 "Language"
Any way to only get result in a specific language? I'd like to get my list of places in Swedish rather than English. Is there any way to do that?

[2018-01-31 13:21] luthfirrahmanb opened #167 "Getting Airport Data"
Hi, Thanks for awesome library, and i have a question, how to just getting airport data? Thank You

[2018-02-04 21:01] #141 closed

[2018-02-06 12:42] #166 closed

[2018-02-07 08:58] CoVoCre commented on #165
Hey @kkseven07, maybe you could just set up your project so that it fills in the address of both with just one entry ? Like getting the address from the autocompleted component, and input it into the address of the shop !
That would mean using the geocodeByAdress function to get the address through a callback ! (See utility functions of readme ;) )

[2018-02-07 09:11] CoVoCre commented on #167
Hey ! What do you mean @luthfirrahmanb by just Airport Data ?
Do you want to restrict autocomplete results to only airport related results across the world ? How do you define if it is "Airport data"?
Maybe if you just want results that have to do with one airport, just use the options prop as described in the readme : https://github.com/kenny-hibino/react-places-autocomplete#options
You'll see ho

[2018-02-07 09:14] CoVoCre commented on #147
Hey @avinashdvv , I guess your problem is similar to #167
What do you mean by only hospital details ? Do you mean all hospitals across the world ? You just want hospital adresses as autocomplete results ? Like searching for "hospitals" on google maps ?

[2018-02-07 09:19] CoVoCre commented on #167
I found this from google places api documentation : https://developers.google.com/places/supported_types#table1

It seems the really precise type "airport" for getting only airport places, is "only for [searches](https://developers.google.com/places/web-service/search) and when [adding](https://developers.google.com/places/web-service/add-place) a place.

[2018-02-07 09:21] CoVoCre commented on #147
@avinashdvv look at the #167 issue, i found some info about these kinds of result restrictions, it is only possible for searches or when adding a place.

[2018-02-07 18:18] Hatzl commented on #140
Hello,

what was your solution?

[2018-02-10 20:36] kenny-hibino commented on #103
Please use v6.x or above. Google logo image is no longer part of the library.

[2018-02-10 20:36] #103 closed

[2018-02-10 21:48] kenny-hibino commented on #123
Fixed via ef4dc46

[2018-02-10 21:48] #123 closed

[2018-02-10 21:57] #118 closed

[2018-02-10 22:11] #133 closed

[2018-02-12 12:43] egeriis commented on #117
@kenny-hibino Is not "incompatible" because styled-components is so flexible. There would be enhanced compatibility however, if `className` could be set on `PlacesAutocomplete`. Would allow developers to do:

[code]

[2018-02-12 19:48] kenny-hibino commented on #117
Definitely need this enhancement. Will work on this soon 👍

[2018-02-13 11:01] egeriis commented on #117
What I've done for now:

[code]

Ideally this would be the method:

[code]

[2018-02-15 16:06] ManuelJF opened #173 "classNames and styles properties don't work"
i want to overwrite the inline styles for the component, but when pass a object with my custom styles don't change my styles and the same case is when i pass a object with custom classNames does not work.

![captura de pantalla 2018-02-15 a la s 10 04 54 a m](https://user-images.githubusercontent.com/15016968/36266715-c57bdfb0-1237-11e8-8e1c-88e7278c59f8.png)

![captura de pantalla 2018-02-15 a la

[2018-02-17 05:40] #1 closed

[2018-02-17 05:42] kenny-hibino commented on #68
State Issue. Closing this.

[2018-02-17 05:42] #68 closed

[2018-02-19 19:58] MiltonAkash opened #174 "Reduce Api Calls"
Google autocomplete gives us placeId, Latitude &Longitude on selecting the suggestion itself. But in this package we are manually making another call to geocode the address.

[2018-02-25 02:17] denisftw commented on #50
@JohnnyKNL @MaxGabriel It's not about the library - it's about API the library is using. If you use `google.maps.places.Autocomplete`, then the returning object will contain address components but Google will also attach the suggestion box to the input. This library, however, uses `google.maps.places.AutocompleteService`. It doesn't attach anything, but doesn't return individual parts either.

[2018-02-25 03:02] MaxGabriel commented on #50
Thanks @denisftw! I came to the same conclusion. Really confuses me why Google made that API choice in one spot but not another

[2018-02-25 04:51] denisftw commented on #50
@MaxGabriel Yeah, it makes no sense. By the way, did you find how to get address information from `place_id` once you got it from suggestions?

[2018-02-25 05:31] MaxGabriel commented on #50
Yes I did. Sorry for the poor formatting, I’m in my phone on a ski trip. Also note that it’s in Typescript:

[code]

[2018-02-25 05:34] denisftw commented on #50
Awesome, thanks! I looked at `PlacesService`, but didn't like that it wanted a map as an argument. Using an empty div is definitely a good idea.

[2018-02-28 20:44] gls123 opened #175 "Feature request - allow google maps URL to be configurable"
I'd prefer not to expose my Google API key when using this component. I'd like to proxy the request through my own server and pass the response back as is. Would it be possible to supply the URL as a prop while defaulting to the current option? Thanks

[2018-03-06 13:52] Bram-Zijp opened #177 "Cancel search for places"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**What is the current behavior?**
When you type and hit enter fast, results are shown +- 500ms after that while no longer neccesary.

**What is the expected behavior?**
I would like an cancel/hide all results option.

[2018-03-06 17:15] kenny-hibino commented on #165
Thanks @CoVoCre! Hope this solution works for you @kkseven07 !!

[2018-03-06 17:15] #165 closed

[2018-03-09 22:34] MikeShobe commented on #134
Agree with karlbohlmark, please consider adding this, particularly Tab to select!

[2018-03-10 20:34] armen115 opened #178 "onSelect returns event handler instead of address and placeId"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When passing a callback for `onSelect` via inputProps, the callback fires on focus and on change. Also, the parameters that the callback receives (as used in the example,  two arguments named address and placeId) return an event handler (SyntheticEvent) and undefined respectively.

**If the current beh

[2018-03-10 22:32] irvingv8 commented on #117
Hello there! I was looking into this and as the suggestion from @egeriis would totally work, I decided to solve this issue making use of HOC this is the way I solved it (if feeling like this could be useful in the docs, let me know and I can make a PR):

*Removed unrelated code because I'm using redux form on top on this
[code]

You could possibly enhance this even more to avoid some repetition, b

[2018-03-11 23:14] #2 closed

[2018-03-12 13:55] Ethaan commented on #162
`redux-form` passess the prop `input` which is an Object with some methods such as `onChange`, and that `onChange` dispatch to your redux state, so.

[code]

[code]

[2018-03-12 19:26] armen115 commented on #178
Worked like a charm, thank you very much!

[2018-03-13 01:11] safeimuslim opened #180 "How get address by lat long?"
How get address by lat long?

[2018-03-13 04:22] safeimuslim commented on #180
fixed by use reverse geocoding package

[2018-03-13 16:27] lauterry commented on #104
```autoComplete: 'off'``` doesn't work for me but ```autoComplete: 'disabled'``` does

[2018-03-15 05:35] jinjingbo commented on #112
Hi guys, I am having the same issue here. I need to restrict the dropdown result to AU only.

@pjho I have tried your post, doesn't seem to be working. The result dropdown list still not filtering by country.
@kenny-hibino Any advice on how to add the `componentRestrictions` supports?

#114 also want the same thing.
Thank you all!

[2018-03-15 05:40] jinjingbo commented on #112
Actually I found where I went wrong, a silly mistake: I used `ComponentRestrictions` instead of `componentRestrictions`. It is case sensitive.

Below option setting works with the original function   geocodeByAddress  from the util:
` const options = {
  componentRestrictions: { country: ['AU'] },
  types: ['establishment']
}; `

[2018-03-16 10:19] ajien opened #182 "Typing into the PlacesAutocomplete field clears all other fields in the same form"
**Do you want to request a *feature* or report a *bug*?**
Bug/Question
**What is the current behavior?**
I have a form with multiple fields including one using PlacesAutocomplete. When typing into the autocomplete field, all other fields in the same form gets cleared.

Is this a bug? How do I prevent it from happening?

**If the current behavior is a bug, please provide the steps to reproduce and

[2018-03-16 17:34] zackyangzinc opened #183 "Returns latlongs even if nonsense is entered"
If I enter just "118" into the autocomplete box, I get geocoordinates to some place in Ohio or Vegas.  Is there a way to mitigate this 'overmatching"

[2018-03-19 01:04] kenny-hibino commented on #182
@ajien  I don't think this is a bug of the library. I'm closing this issue for now, but feel free to re-open if you the identified a bug in the library!

[2018-03-19 01:04] #182 closed

[2018-03-19 14:56] kenny-hibino opened #186 "Add TypeScript Support"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently the library doesn't support TypeScript

**What is the expected behavior?**
Provide TypeScript support
- Add types

[2018-03-19 16:41] guilhermehubner commented on #186
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24259 :wink:

[2018-03-19 22:17] kenny-hibino commented on #186
@guilhermehubner Awesome! So this library can be used in TypeScript without having type definitions provided by this library? (Sorry if I'm asking a noob question, I haven't tried out TypeScript yet!)

[2018-03-20 11:50] guilhermehubner commented on #186
@kenny-hibino yeah! DefinitelyTypes is a oficial typings repository (the advantage to submit types definition to there instead maintain it on project is the Q&A, this repository is maintained by Microsoft team and require some best pratices).

Your lib will work with TypeScript just by add the definition with `yarn add @types/react-places-autocomplete`. :wink:

[2018-03-21 08:19] andreykishtov opened #187 "Focus with adding custom css"
I am trying to implement simple css changes to css and i can`t find how can i add focus or hover in styles object. I simply want to have an onhover change of color on border bottom

[code]
thanks

[2018-03-22 19:35] racheldelman commented on #104
@lauterry Thanks! That fixed it for me. @kenny-hibino can the default be switched to `disabled` instead of `off`?

[2018-03-27 00:57] Pegahkeshavarz commented on #11
is this working? i cant create it and i am using the lastest

[2018-03-27 03:29] kenny-hibino commented on #186
Great! Thanks for adding type definition @guilhermehubner 👍

[2018-03-27 03:29] #186 closed

[2018-03-29 14:21] thetwosents opened #189 "How to handle loading google for test with enzyme / jest"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Throws error "Google Maps JavaScript API library must be loaded" when running npm run test.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

create-react-app, setup react-places-autocomplete then install enzyme and jest. run npm

[2018-04-01 08:10] kenny-hibino commented on #189
@thetwosents Thank you for opening this issue.
Because `PlacesAutocomplete` component has a dependency on Google Maps Places library it has to be available under the window object.
One way to get around this is to mock `window.google` object in your test.
Example:

[code]

Hope this helps!

[2018-04-07 05:37] anirugu opened #190 "How to run this project."
I have done npm installed but not sure how to run this project. Trying to find a thread in issue about this but didn't fine anything.

Let me know how to run this. I try command like yarn start, npm run dev which run the project in browser but it doesn't help.

I am using VS code for this, Thanks for this repos.

[2018-04-07 13:03] kenny-hibino commented on #190
@anirugu Try `npm run demo` if you want to run the demo locally.

[2018-04-07 13:03] #190 closed

[2018-04-09 18:17] bplmp commented on #143
I'm using Google Maps API v3.32.8, but the `strictBounds` option still doesn't seem to work.

    const placesAutocompleteOptions = {
      location: new google.maps.LatLng(GLOBALS.city_center.lat, GLOBALS.city_center.lon),
      radius: 20000,
      types: ['address'],
      componentRestrictions: {country: "br"},
      bounds: new google.maps.LatLngBounds(
        new google.maps.LatLng(GLOBALS.

[2018-04-12 17:46] Dashue opened #191 "Access the full prediction result of the selected item"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Only address and placeId is accessible.

**What is the expected behavior?**
Able to access the full place result returned by google for the selected item.

Have it working locally and would be happy raising a PR. This issue is to measure if that is something that would be appreciated?

I see two so

[2018-04-12 18:45] Dashue commented on #191
Actually didn't realize I had to make another call to the GetPlaceDetailsApi, thought that was returned with the prediction result. Ignore this request. thansk

[2018-04-12 18:45] #191 closed

[2018-04-15 19:49] nishtacular opened #192 "Get postal code"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Returns address without postal_code

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Enter address in autocomplete field, does not return postal_code value along with the full address

**What is the expected behavior?**
Shou

[2018-04-16 02:30] #189 closed

[2018-04-16 02:31] kenny-hibino commented on #173
v.7.x will accept render prop via `children` so hopefully this won't be a problem!

[2018-04-16 02:31] #173 closed

[2018-04-16 02:32] kenny-hibino commented on #158
Hopefully render props in v.7.x will solve your issue @antoniobrandao! Any feedback will be very appreciated!! Closing this issue 👍

[2018-04-16 02:32] #158 closed

[2018-04-16 02:34] kenny-hibino commented on #117
We introduced render prop in v.7.x so that user of the library has a full control over rendering. Hopefully this will solve this issue with integrating with other libraries like styled-components 👍

Please give a v.7 a try and any feedback will be appreciated!!

[2018-04-16 02:34] #117 closed

[2018-04-16 02:36] kenny-hibino commented on #187
@andreykishtov We released v7 with render prop so that user of the library has a full control over the rendering. Please give it a try and this hopefully solves your issue!

Any feedback will be appreciated!

[2018-04-16 02:36] #187 closed

[2018-04-16 16:45] Dashue commented on #192
I hit this as well, and then I realized that this lib doesn't make a call to the place api. Only the autocomplete api. You'll have to make a call to get the place details yourself.

[code]

[2018-04-16 16:51] Dashue commented on #167
I'm trying the type 'establishments' which should be supported. But no matter how I try to specify it to  searchOptions it doesn't reflect in the queried url? Had any success with this?

types: ['establishment']
types: 'establishment'
type ['establishment']
type: establishment

[2018-04-16 17:17] Dashue opened #194 "Unable to apply types filter"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
searchOptions aren't reflected in the query.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
specify searchOptions: { types: ['establishment'] }

**What is the expected behavior?**
Automcomplete should only contain establishmen

[2018-04-17 13:46] nishtacular commented on #192
Thanks @Dashue, appreciate the tip! 🙏

[2018-04-17 13:46] #192 closed

[2018-04-17 13:50] Dashue commented on #192
My pleasure :)

On Tue, 17 Apr 2018, 14:46 Nishant Menon, <notifications@github.com> wrote:

[2018-04-17 14:19] kenny-hibino commented on #194
@Dashue It should be working. I just tested locally with the following code and all of the suggestions returned by Google Maps API are `establishment` types.

[code]

Let me know if you are still seeing the issue!

[2018-04-17 14:25] Dashue commented on #194
Thanks for your time. I'm more than likely doing something wrong.
What input did you give?
Could you include your query url captured from browser network traffic or fiddler?
When specifying establishments only, can you still lookup street addresses, i.e is it filtering out any results that aren't establishment or is it prioritizing establishments but still including other types?

Thanks for your h

[2018-04-17 16:36] Dashue commented on #194
Upgraded to 7.x from 6.1.3 and that solved it.

Thanks!

[2018-04-17 16:36] #194 closed

[2018-04-17 16:39] Dashue commented on #183
What is the expected behaviour? I believe you can pass bounds if you want to restrict it to a certain geography? There's also a prop  shouldFetchSuggestions: () => bool where you can put custom logic to make it behave according to your desired behavior.

[2018-04-18 01:36] safeimuslim opened #195 "Google Maps JavaScript API library must be loaded"
Hi ,
My app ready on production, but sometimes i got error log from sentry, see bellow.

Error
Google Maps JavaScript API library must be loaded. See: https://github.com/kenny-hibino/react-places-autocomplete#load-google-library

[2018-04-18 02:03] kenny-hibino commented on #195
@safeimuslim Unfortunately the library does not support async loading. (It's something I've been meaning to work on for a while now).
Until we add support for asynchronous loading of Google library, you have to load Google Maps library before you mount a component that uses `PlacesAutocomplete`.

For example, in your `index.html`

[code]

[2018-04-18 07:45] moimael opened #196 "Changelog and github release for 7.0.x ?"
Npm has release 7.0.1 but there is no changelog available and the release tag does not exist on github. Since it's a major version it would be great to know what breaking change we should expect and what is new :)

Thanks !

[2018-04-18 13:39] kenny-hibino commented on #196
@moimael Thank you for reporting this! I added git tags to commits so it should be available now on Github 👍

We don't have changelog for this project yet, but I wrote up a simple migration guide in wiki. Please take a look at this! https://github.com/kenny-hibino/react-places-autocomplete/wiki/Migration-Guide-(From-v6.x-to-v7.x)

Any feedback would be appreciated!!

[2018-04-19 03:13] corysimmons commented on #195
This works for me:

[code]

[2018-04-20 09:30] sobstel opened #197 "Cannot read property 'length' of undefined"
Type: bug
Version: `react-places-autocomplete: ^5.4.2`

Please make a value length check a bit more defensive (https://github.com/kenny-hibino/react-places-autocomplete/blob/master/src/PlacesAutocomplete.js#L73) as it might result in error if value is not a string.

[code]

[2018-04-20 14:02] maumont opened #198 "Method onChange is being called when user clicks on a suggestion"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The `onChange` method is called when the user clicks on a suggestion before the call to `onSelect`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
You can debug the [demo page](https://kenny-hibino.github.io/react-places-autoco

[2018-04-21 13:39] Alastair-smith2 commented on #64
Was there a reason why this wasn't (assuming that's the case by the title?) implemented? Just run into the same issue today, curious more than anything else.

[2018-04-23 19:33] bvellek commented on #64
hey @Alastair-smith2 , I am not sure why this was never merged. I gather things have changed a bit since this was originally submitted and will likely need to be rebased and adjusted.

[2018-04-24 00:37] swrobel commented on #196
@kenny-hibino since I can't seem to edit the wiki, here's a corrected version of your v7 suggested code:

[code]

[2018-04-24 13:57] #196 closed

[2018-04-26 09:51] daan-nguyen commented on #174
There is a `placeId` passed back in the [`onSelect` handler](https://github.com/kenny-hibino/react-places-autocomplete#onSelect), but I don't see long/lats anywhere in the `suggestion` object though. Are you able to point out where/when you get it during auto complete?

[2018-04-26 14:42] kenny-hibino commented on #195
Closed via #199

[2018-04-26 14:42] #195 closed

[2018-04-26 14:43] kenny-hibino commented on #57
Closed via #199

[2018-04-26 14:43] #57 closed

[2018-04-27 17:23] antoniobrandao opened #200 "Question: Using a system dropdown"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

A custom dropdown is shown

**What is the expected behavior?**

A 100% reliable dropdown

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**

All versions

- - - - - - - - - - - - - - -

Hello,

Is there a chance this component could trigger a **syst

[2018-04-28 13:12] AndreiCalazans commented on #112
prop `searchOptions` wasn't working for me, `options` did.

"react-places-autocomplete": "^6.1.3",

Since they don't keep a changelog idk if this was changed on the newer versions.

[2018-05-03 20:53] inabeel commented on #198
I found similar problem in PlacesAutocomplete.js
On _this.handleInputOnBlur() function
line number: 234

_this.mousedownOnSuggestion property is not available, which causes it to execute clearSuggesstions() function

[2018-05-05 17:52] AdiBev commented on #103
Hi, I tried to use @jacobimpson solution but still not getting the background image. Is there any other working solution please?

[2018-05-09 15:29] Gonzalo9823 opened #201 "When I click on a suggestion it won't select it"
Hey! I'm using react-places-autocomplete but it won't accept my click input, it only selects when I use my arrow keys and I press enter.  I have try using different browsers but the problem persist.

Here's my code.

[code]

[2018-05-12 13:06] satejrajam30 opened #203 "GeocodeByAddress : Restrict search only to Address having Pincode"
Hi,

Thank you for the plugin.

I am trying to get addresses by using geocodeByAddress();

This returns the correct result, my issue is I am filtering locations by their pincode, which is giving in the json response as  address_components.

The issue is not all addresses have the address_components containing the pincode.

Is there a way where I can only display suggestions which has the address_c

[2018-05-16 02:04] njbarrett opened #204 "Passing arbitrary props to render method in v7"
**Do you want to request a *feature* or report a *bug*?**
Bug/Question
**What is the current behavior?**
In v6 it seemed to be possible to pass arbitrary props to my render method through the inputProps prop. However with the changes in v7 I am not sure whether this is possible anymore.

[code]

I would like to know how my render method could access `myOption` . For example I need to pass through

[2018-05-16 07:47] abhijeet5 commented on #129
Adding this to webpack didn't resolve the issue..
{test: /.(png|jpg)$/, loader: 'url-loader?limit=8192' }

[2018-05-16 19:51] pattishin opened #205 "Difficulty selecting a location item from dropdown on iOS devices"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I'm currently having difficulty selecting a location item from the dropdown after I enter in a in iOS X devices. I was testing with both chrome and safari browsers on a virtual iOS device via Browserstack, as well as via a physical iOS device. I'm able to select it with some difficulty if longpress an

[2018-05-16 19:51] pattishin commented on #205
Any help would be greatly appreciated!

[2018-05-16 20:02] kenny-hibino commented on #204
@njbarrett Thank you for the question.
You can pass arbitrary props to your input component via `getInputProps` function, and it's recommended that you pass to function rather than passing to the component directly.
https://github.com/kenny-hibino/react-places-autocomplete#getinputprops
For the above example,

[code]

Hope this helps

[2018-05-16 20:02] #204 closed

[2018-05-17 06:04] njbarrett commented on #204
Hi Kenny

Thank you for your response.
Your solution is OK if you are hardcoding a prop value into the render method, but I need to pass through a prop from higher up, however the `PlacesAutocomplete` component does not pass through all props to the children. I have made a change on my fork that passes through any other props: https://github.com/kenny-hibino/react-places-autocomplete/compare/maste

[2018-05-23 07:42] efstathiosntonas commented on #180
@safeimuslim can you share  your code on how to do this?

[2018-05-27 19:42] #198 closed

[2018-05-30 14:57] kenny-hibino commented on #201
@Gonzalo9823 @vamsi1317 Would you mind sharing your code for `onSelect` and `onChange` functions?

[2018-05-30 15:01] #200 closed, assigned to nobody

[2018-06-01 13:57] #201 closed

[2018-06-05 20:55] ahmadalfy commented on #106
This doesn't seem to work anymore. The blur event is never fired

[2018-06-08 10:54] Huanzhang89 commented on #152
Might be a good idea to post the code for your implementation. I also had this error but it was due to bad implementation.

[2018-06-09 23:44] SachaG opened #208 "Using onKeyDown/onKeyPress to submit form"
I know the enter key is currently used to select a suggestion when browsing through the list, but what would be the best way to use it to submit the entire form itself after the suggestion has been selected?

[2018-06-10 11:37] saurabhSiddhu opened #209 "Demo for next.js"
I am not able to figure out how I can use it with next.js . It would be easier if there is demo for it.

[2018-06-11 01:02] SachaG commented on #208
Here's the solution I found. Feels like there should be an easier way though?

[code]

And then:

[code]

[2018-06-11 05:25] saurabhSiddhu opened #210 "Head tag changing while typing"
The new scripts are added in the head tag on every click inside the input box.

[2018-06-11 05:53] IsharaHansaka opened #211 "placeholderTextColor not working"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**

[2018-06-15 07:48] TommyJackson85 commented on #194
how do you restrict even more, like to 'cafe' 'bar' or 'library'? I'm getting errors when I include them and they are part of google's types in its api.

[2018-06-18 10:03] picosam opened #212 "Suggestions disappear when input loses focus"
I don't know if this is the desired behaviour, but I would like to know if I can override it: currently, if the input loses focus, the suggestions disappear. May you explain why this happens and if I can override it?

[2018-06-18 10:36] sruthisripathi opened #213 "Get appropriate zoom level for the selected place"
I want to get the appropriate zoom level depending on the place selected

Right now I get the lat and lon and set the map center to that. I am giving a static zoom level. If you manually zoom into or zoom out of the map (depending on the place you selected), then you will be able to properly see the place you selected on the map.

[2018-06-23 18:15] natakina commented on #57
pr 199 helped to fix problem. but now I have a new one.

Sometimes I received error
Uncaught TypeError: Cannot read property 'getPlacePredictions' of undefined
at PlacesAutocomplete._this.fetchPredictions (PlacesAutocomplete.js:101)
at invokeFunc (index.js:160)
at trailingEdge (index.js:207)
at timerExpired (index.js:195)

My code in the main component:
componentDidMount () {
window.initGoogleComp

[2018-06-25 11:50] mf30s opened #215 "className form imported css file"
Hi, Thanks for the amazing work!

I'm new to this. Can you explain a bit more how to put className into the input section? Because I've tried to do this in input, div and other rendered part, and it doesn't work.

For example, I usually using this method: <input className={css.ClassName}>

Can you help? Thanks!

[2018-06-28 15:14] sdfricke opened #217 "Use first suggestion after search click"
I have the highlightFirstSuggestion prop set to true, so that when I hit the enter button, it calls the handleSelect function with first suggestion.  I also have a little magnifying glass in my input box.  When the user clicks this, I would like it to also call the handleSelect function with the first suggestion.  Do you know how I would make this work?

[2018-06-28 15:35] forrestblade opened #218 "Retrieving the establishments bussines"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
There is not a establishment name
**What is the expected behavior?**
In the official api you canuse getPlace() the pull the actual name of the establishment, am I missing something?

[2018-07-03 02:49] tilersmyth opened #219 "onChange value undefined"
**Do you want to request a *feature* or report a *bug*?**
featurish
**What is the current behavior?**
onChange assumes event as variable
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
n/a
**What is the expected behavior?**
Hoping onChange can accept value
**Which versions of ReactPlacesAutocomplete, and which browser / OS

[2018-07-11 14:14] Huanzhang89 commented on #212
Are you trying to override it as a default behaviour or simply for better debugging during development?  I have noticed that the suggestions used to disappear even when I switch to the chrome dev tools, but this seems to be fixed now so you should be able to tweak the styling for suggestions much easier.

[2018-07-13 09:02] gianfelipe93 opened #221 "Input not compatible with redux form"
**Do you want to request a *feature* or report a *bug*?** Question

**What is the current behavior?**
I have this component:
[code]

Which is basically embedding the input to make it required on my Redux form:
[code]

And the validation function: ```

function validate(values) {
  const errors = {}

  const defaultMessage = "This field is required"
  //console.log(values)
  if (!values.firstName)

[2018-07-17 00:02] jencarlile commented on #131
I know this issue is a few months old, but I was wondering if you arrived at a solution? I am running into the same thing.  Thanks.

[2018-07-17 18:27] riteshagarwal100 opened #222 "unable to use ENTER button to invoke custom search button in react page."
[code]

[code]

This button can be clicked by the user. But if user chooses to just click on ENTER button from keyboard, the search button must get clicked and and the api will get fired.

[2018-07-20 09:08] jamie-endeavour commented on #218
Hey @forrestblade I thought I'd reply because I've just been working on something which led me to this issue too. This component looks to be using the AutoComplete service which doesn't include the Place Name only the Place Id https://developers.google.com/places/web-service/autocomplete

To get around this in my app, I had to make a second call to the PlacesService and pass the id which react-pla

[2018-07-23 05:56] matthewgonzalez commented on #84
Resurrecting this. I need this feature as well, so I went ahead and created the PR. The payload is coming from google so it just needed to be included in the component state.

[2018-07-24 17:12] CoVoCre commented on #50
Hey @JohnnyKNL , couldn't it be possible by having for example the input field you provide to react-places-autocomplete hidden, and having multiple inputs visible to the user. You can then, every time the user inputs something in the visible inputs, change / concatenate what the hidden input of react-places-autocomplete is getting ? Otherwise from react-places-autocomplete we could maybe add a boo

[2018-07-24 17:16] CoVoCre commented on #64
@hibiken could you tell us why you never merged this ? It'd be nice to have !

[2018-07-24 19:07] CoVoCre opened #225 "googleCallback when PlacesAutocomplete is not mounted at first"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When my website loads on a page without a component using PlacesAutocomplete, the maps api has time to load and call the callback function given. But that means it has not yet been declared as a function by PlacesAutocomplete !! And it throws the console error :
<img width="339" alt="capture d ecran 20

[2018-07-25 10:15] pulkitgpt27 opened #227 "the google request is made wit the sugestion but suggestion is not shown on field on mouse click"
**Do you want to request a *feature* or report a *bug*?**bug

**What is the current behavior?**text is not shown on the textField when i click on any suggestion

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**just type in textfield and click on any suggestion

**What is the expected behavior?**suggestion should be shown on

[2018-07-25 13:05] CoVoCre commented on #227
Hey !
What do you mean by the request is made ?
And what do you mean by not shown on field on mouse click ?

If you mean that as you type, you get the suggestions you want, but when you click on one, the text of the suggestion doesn't show in the input field, maybe you forgot to implement a [onSelect](https://github.com/hibiken/react-places-autocomplete/blob/master/README.md#onSelect) function ?

[2018-07-25 17:47] CoVoCre commented on #225
Well, I found a fix :
[code]
This defines the myCallbackFunc before PlacesAutocomplete defines it (or in this fixed case, re defines it), because apparently if the callback provided upon loading the google maps places api is not yet defined, it fails to load completely and PlacesAutocomplete can't use it. I'll provide a PR for this in the readme.

[2018-07-26 11:34] pulkitgpt27 commented on #227
yes exactly this but i have implemented onselect method also

[2018-07-26 11:48] pulkitgpt27 commented on #227
i get the value which i want but text doesnt show on field
when i select suggestion using enter key then shown on textField

[2018-07-26 12:06] CoVoCre commented on #225
So I think this isn't the entire fix... Maybe for more complex apps, it'd be good to have the component load the library on its own... Or maybe load it if it's not already loaded ! There seem to be errors switching between routes with the :
gmaps api not finding the callbackname as a function
input field being and staying disabled...

[2018-07-26 12:18] CoVoCre commented on #227
@pulkitgpt27 in you onSelect method, you need to change the value, just like onChange if you want the displayed value to change in the input field ;)
Maybe like :
[code]
If you still have problems, maybe show us some code ?

[2018-07-26 12:30] CoVoCre commented on #225
Well, now, if I place the following code in the head of my index.html, it's working again...
[code]
I'll test some more, see if I was just lucky this time...

[2018-07-26 12:37] CoVoCre commented on #225
Also, just thinking, it'd be great to have a solution for when used in a web app, that is things might be cached. Because if so, then script load of the api fails, but doesn't try again when the user reconnects to internet. I'll think about it some more...

[2018-07-26 12:42] CoVoCre commented on #225
So for now, I should update my PR to specify that the script should be placed before where react will render...

[2018-07-26 13:02] pulkitgpt27 commented on #227
thanx man it worked but i cant understand why

[2018-07-26 13:07] CoVoCre commented on #227
I find it weird too, if when you pressed the keyboard key enter it changed the text in the input field (calling onChange), but when you clicked on a suggestion it didn't... Is this what was happening ?
If you never had the text show up in the input field, it is normal because onSelect doesn't call onChange, if you want to have it that way you have to implement it like above ;)

[2018-07-28 10:54] pulkitgpt27 commented on #227
hey can you guide me how to restrict suggestions to show only city state country instead of regular suggestions

[2018-07-28 12:37] CoVoCre commented on #227
Hey @pulkitgpt27 , you can see what is possible in the [searchOptions section of the README](https://github.com/hibiken/react-places-autocomplete#searchOptions). What is possible or not for your specific request come down from the [maps api place types list](https://developers.google.com/places/supported_types#table3) !
I don't know what you mean "by city state country", but if you mean capital I

[2018-07-30 04:55] pulkitgpt27 commented on #227
thanks for your constant support

[2018-07-30 11:01] CoVoCre commented on #225
Well, that just works for me :)

[2018-07-30 19:50] suyesh opened #229 "How to disable autohide of suggestions? i want to show suggestions until user take action on it."

[2018-08-01 06:38] CoVoCre commented on #229
Hey @suyesh,
I guess we'd have to implement a more controlled component, with a feature like a showSuggestion prop that we could control, and that would dictate, above others when to show the suggestions.

[2018-08-01 12:44] The-Code-Monkey opened #230 "this.props.children is not a function"
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
crashes on load with title as error
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
it should load
**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue

[2018-08-01 12:46] CoVoCre commented on #230
I think it'd help if you gave us some code 😅😅😅😄

[2018-08-01 12:58] The-Code-Monkey commented on #230
[code]

And the thing that is breaking is in a version above 6.1.3.

this.props.children is breaking inside of the react-places-autocomplete package itself im not the one calling it

[2018-08-01 13:05] CoVoCre commented on #230
Well, I think you have to read the Readme of the new versions 😉 The component now requires a (child function)[https://github.com/hibiken/react-places-autocomplete/blob/master/README.md#children] to be passed, which will render the suggestions. Check it out, it's quite clever !

[2018-08-01 13:07] The-Code-Monkey commented on #230
ah ok I didn't see that maybe there should be an example at the top of the doc so that you don't have to trawl through all the code looking for a major change like that

[2018-08-01 13:08] CoVoCre commented on #230
A changelog would be great, I agree ! 😁
But the simplr example is right at the top of the Readme, isn't it ?

[2018-08-01 13:12] #230 closed

[2018-08-01 16:44] CoVoCre commented on #218
Yeah, I too looked into this, and it's just a limitation of Google autocomplete upstream !!! Open an issue on their... Oh wait, I guess they're not all that open source eh 😅😄

[2018-08-02 11:59] IngusSkaistkalns commented on #174
+1 Google has kicked in with new billing policy, this one becomes pricy now :)

[2018-08-02 14:10] #229 closed

[2018-08-02 14:40] Frexuz opened #232 "Returning the full suggestion object in onSelect"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
`onChange` and `onSelect` (internally `handleSelect`) only return limited data:

https://github.com/hibiken/react-places-autocomplete/blob/master/src/PlacesAutocomplete.js#L349
[code]

Why not return the full `suggestion` object? At this moment, I can't get `suggestion.terms` from these methods. Th

[2018-08-02 14:48] CoVoCre commented on #232
I agree that's a good question... It would be more useful !

[2018-08-02 14:53] Frexuz commented on #232
I tried to fork it, but the source is not a compiled package.
Not sure how to handle a non compiled node_module with webpacker :D

[2018-08-02 15:22] CoVoCre commented on #232
Can't you build it first ?

[2018-08-04 12:56] CoVoCre commented on #229
I looked at your PR, but I was wondering what's causing the keyboard to disappear ? A click on the page, not on the suggestions of course, from the user ?
I tried to replicate this, and I found that if I use the Android back button, the keyboard disappears but the dropdown stays. This is how dropdowns usually work on internet I think... And how android works...   Just go to goole.com on android, l

[2018-08-05 17:44] TommyJackson85 commented on #232
Do you mean Suggestion object, as the object data in which the place name comes from? So far I can only return address details, but I want to try and return the place details on click, such as place name and telephone number.

[2018-08-06 09:13] Frexuz commented on #232
Fixed like this in my fork :)
<img width="983" alt="screen shot 2018-08-06 at 17 12 37" src="https://user-images.githubusercontent.com/49692/43708005-f54a30f2-999b-11e8-9c5f-c6da7b93b49c.png">

[2018-08-06 16:52] lihop commented on #221
Hi @gianfelipe93, I can confirm that the current version of react-places-autocomplete works well with redux-form.

I think the source of your problem is rendering the `<Field>` component inside of `<PlacesAutocomplete>`. In your Redux form you should use the Field component as follows:
[code]
Then in `<LocationSearchInput>` access the `input` and `meta` props passed in by `<Field>`. For example:
[

[2018-08-06 21:03] kyle-mccarthy commented on #209
What problem are you having specifically? I use it with nextjs and didn't encounter any issues.

[2018-08-08 07:05] gianfelipe93 commented on #221
Hey @lihop , thanks for the answer, I totally forgot about this issue.

I've figure it out already but again, thanks for your help.

[2018-08-08 07:05] #221 closed

[2018-08-10 19:09] jedwards1211 opened #233 "option to not clear suggestions on blur"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Whenever I blur the input, react-places-autocomplete clears the suggestions, so when I focus the input again, no suggestions come up.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
If I refo

[2018-08-10 20:31] jedwards1211 commented on #233
Oh I guess the point of this is that the dropdown should be visible only if there are selections.  I had been trying, mistakenly, to combine this with `react-select`, but `react-select` is being really buggy so I'm going to use this by itself :)

[2018-08-10 21:08] #233 closed

[2018-08-14 02:42] lnhrdt commented on #232
Looks like there's already a PR for this: #226.

[2018-08-17 01:59] MitchEff commented on #232
Any progress with this one? I stupidly started using this without checking if it actually returned useful data, but with just the string it's not too handy.

[2018-08-17 06:08] Frexuz commented on #232
Just merge the PR please! :)

[2018-08-17 08:51] con322 commented on #189
Thanks for providing the above setup, however I get the following erro:

TypeError: window.google.maps.Geocoder is not a constructor

Any ideas on how to fix?

[2018-08-24 11:31] con322 commented on #143
@bplmp did you ever get the bounds to work?

[2018-08-24 14:53] bplmp commented on #143
@con322 nope, unfortunately.

I noticed that it does bias the results towards the bounds, so it is interpreting the bounds correctly, but it doesn't _restrict_ to matches inside the bounds, so still no `strictBounds`.

[2018-08-24 15:45] rfreethy commented on #136
I am having this issue trying to limit the types to address.

`
                  searchOptions={{
                    types: ["address"],
                    country: ["ca", "us"]
                  }}
`

Is returning INVALID_REQUESTS

[2018-08-29 01:55] MitchEff opened #235 "Seems to ignore searchOptions, and doesn't return suggestions in a consistent format"
I'm getting the sense issues raised here aren't really monitored, but I'm putting this one in anyway.

If you set searchOptions like so:
`        const searchOptions = {
            types: ['address']
        }
`
`<PlacesAutocomplete` searchOptions={searchOptions} value={this.state.autocompleteInput} onChange={value => {this.handleChange(value, 'autocomplete')}} onSelect={this.handleSelect} >`

th

[2018-08-29 09:39] pixellos commented on #186
Hi, https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24259 is incompatible with current version and some types are missing.

[2018-09-03 17:14] SmirnovW commented on #219
@tilersmyth Hi! Did you find any solution to getting the event without changing the react-places-autocomplete?

[2018-09-04 14:41] tilersmyth commented on #219
hey @SmirnovW , I ended up bailing on react-places-autocomplete. creating my own solution
(while using this project as a reference) turned out to be easier than I thought it would be...

[2018-09-05 00:00] chiamtc commented on #189
@con322  I had the same problem before. `window.google.maps.Geocoder` is a class so just put `Geocoder:class{},`.
If you are using function in google map classes, e.g:
`fitBounds()` under `window.google.maps.Map` class:
Just  `Map:class{ setTilt(){} fitBounds(){}},`

Here's my google map classes mock under setupTests.js
[code]

[2018-09-05 19:58] SmirnovW commented on #219
@tilersmyth Thank you for the feedback!

[2018-09-06 23:53] nazarukroman opened #237 "How to get the address for the selected city?"
Hello everyone!
I have 2 inputs with `react-places-autocomplete`. First I get only cities then I have placeId and city description (values.city.id and values.city.description). I can't understand how I can get only addresses for the selected city in second input. Search options allows to filter only by country or am I mistaken?
Help me please guys! :)

[2018-09-08 17:56] venom90 opened #238 "Disable auto fill feature of chrome browser"
By default autocomplete attribute is set to "off", which doesn't work with chrome. However, I tried to put random string in autocomplete attribute and it worked. Please change this behaviour in the file PlacesAutocomplete.js.

[2018-09-18 17:22] acejusto11 opened #239 "Distance per suggested locations"
Hi,

Is this component have the ability to return the distance per suggested locations?

[2018-09-20 14:34] francisrod01 opened #240 "Some places the onSelect don't return a valid place_id"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current behavior?**
The `onSelect` handler don't return a valid `placeId` anymore but the `geocodeByPlaceId` and `geocodeByAddress` do it.

The type of places is `type: ['locality', 'natural_feature']`.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem

[2018-09-22 01:09] maelfosso opened #241 "Nothing appears when I'm typing into the <input /> field"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I copy the example at README.md but when I type the place, nothing appears even the letter I'm I appear.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
I'm expecting to see what I'm typing and

[2018-09-25 09:32] Duckwings commented on #241
Have you try on another browser ?

[2018-09-27 03:56] maelfosso commented on #241
Yes @Duckwings
I tried on Chromium and Firefox.

Please, I put attached the file.
[index.js.zip](https://github.com/hibiken/react-places-autocomplete/files/2422417/index.js.zip)

[2018-09-27 12:38] Duckwings commented on #241
your handlechange function should change the from state because you set the PlaceAutocomplete value to this.state.from. I dont know what the from.address ( this.setState({ "from.address" : address }); ) mean, but try to replace the this.setState({"from.address": address}) by this.setState({from: address})

[2018-09-27 15:59] maelfosso commented on #241
Thank you. I solve it.

[2018-09-27 15:59] #241 closed

[2018-10-07 18:08] EricForgy opened #243 "How to access the active suggestion from the parent?"
Hi,

Noob question 😅

I am trying to access the full active suggestion inside `onSelect`, but `onSelect` only takes `address` and `placeId` arguments.

I want to format

[code]

and

[code]

differently in the input box when selecting a suggestion. Is that possible?

[2018-10-07 18:14] EricForgy commented on #243
Sorry. Didn't see #232

[2018-10-07 18:14] #243 closed

[2018-10-09 04:06] elzayat opened #244 "couldn't get it works with formik"

[2018-10-09 08:20] wengjincheng commented on #152
I have this error too. I'm following get start and get this error. Is the docs wrong?

[2018-10-23 11:35] jhalborg commented on #166
@mollynordh - Why did you close this, did you find a way? If so, can you please share? :)

[2018-10-28 01:04] Rasha-Dj commented on #166
@jhalborg :+1:
@mollynordh Have you found solution for this?

[2018-10-28 08:33] madeinspace commented on #244
it is working with formik

[2018-11-01 13:35] steph4nc commented on #43
Hey @advance512, how did you manage to use react-places-autocomplete with react-select. Thanks

[2018-11-02 22:33] advance512 commented on #43
@steph4nc iirc, I extracted the places list from this control and injected it into the react-select component.

[2018-11-07 21:58] tpkemme commented on #166
@jhalborg @mollynordh

The only way i could find to achieve a different language is to include a language param in your google maps script:

`<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&language=fr"></script>`

Hope this helps.  It would be really great if language was an option you could pass to the component.

[2018-11-09 00:47] AlexElls21 commented on #235
I am experiencing this same issue any updates?

[2018-11-12 15:45] djamesfar commented on #95
I have the same problem, but in fact z-index is not working for me.
I have a row of links below the places-autocomplete component, and when the dropdown appears, the links are visible through the dropdown (the white text of the <a> shows over the blue text of the hovered option item), and when you click to select an option that is positioned over one of the links, the link is invoked instead of se

[2018-11-13 14:42] tkrotoff commented on #238
I think the `autocomplete` attribute should be simply removed from this lib and be left for the developer to decide whether or not he wants to disable it.
In my use case, the user enters its home address: in this use case `autocomplete` should be enabled.

FYI See https://stackoverflow.com/q/12374442/990356 and https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_fo

[2018-11-14 16:49] g-borgulya opened #245 "Using google maps api as npm"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Seemingly the only way to use this package is to load google maps api as a script.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
This is a problem for several reasons, to put it simply this is not the modern approach.

**

[2018-11-27 19:54] ThomWright opened #246 "TypeScript definitions are outdated"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

V6 of `react-places-autocomplete`  and `@types/react-places-autocomplete` work together, but `@types/react-places-autocomplete` v7 hasn't been updated/released.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

Install latest

[2018-11-28 03:35] hibiken commented on #246
Hey Thom,

thank you for reporting this. Would you mind reporting this issue in https://github.com/DefinitelyTyped/DefinitelyTyped/ repo?

[2018-12-03 19:32] akinnee commented on #233
I had to disable blur so I could tweak the CSS in the inspector without the suggestions disappearing on me. Here's a temporary solution if anyone else needs to do that:
[code]

[2018-12-06 16:14] BenBach commented on #235
Did you find a solution? Thanks in advance

[2018-12-08 15:08] Kukunin commented on #244
The problem is that `<input onChange={handleChange} />` fires `handleChange` with an event, while `<PlacesAutocomplete onChange={handleChange} />` fires with a value. so Formik can't use it as a callback

[2018-12-08 15:15] Kukunin commented on #244
works with formik's `setFieldValue`: `<PlacesAutocomplete onChange={(value) => setFieldValue('city', value)} />`

[2018-12-12 12:47] ApeNox commented on #246
i have updated the types by myself, they have updated it in master.

[2018-12-19 05:40] saranshbansal opened #248 "Search by Post Codes"
I need to be able to search via post/zip codes but currently it is not showing any results. Here is my setup:

[code]

[2018-12-20 11:37] SirwanAfifi opened #249 "Why handleSelect is slow?"
**What is the current behavior?**
I have added this component in my application, it looks great, but the problem is that, handler for selecting an item is a bit slow:

[code]

It seems that this `geocodeByAddress` function also issue another request to Google Place API, which doesn't make sense when we type in something we already have the response and show it in the autocomplete list, So why so w

[2018-12-21 11:58] abhilashrathod commented on #244
Thank you for your reply! But; it is still not working for me

[2018-12-24 13:09] Prajeeshmobomo opened #250 "Google-maps-react not working along with react-places-autocomplete"
I am using google-maps-react in my project.
The code to display map is as follows.

    render() {
        return (
          <Map
            google={this.props.google}
            zoom={14}
            style={{ width: '100%', height: '100%', position: 'relative' }}>

            {this.props.position &&
              <Marker
                onClick={this.onMarkerClick}
                title={this

[2018-12-24 16:44] elzayat commented on #244
It Works for me

<Formik
  initialValues={{
    pickup: ""
  }}
  onSubmit={(values, actions) => {
    this.props.getpricelist(values);
  }}
  validate={validate}
  render={({ handleSubmit, setFieldValue, values, errors, touched }) => (
    <form onSubmit={handleSubmit}>
      <Field
        name="pickup"
        type="pickup"
        value={values.pickup}
        render={({ field, form }) => {

[2018-12-26 18:02] djsteinmetz opened #251 "Apt/Unit numbers, unable to bypass selecting a suggestion"
# Compatibility for Apartments / Units?

## Is there a way to bypass the select, and enter a custom address?
For example in my use case, a lot of my users will be needing to input unit numbers or apartment numbers, and if you enter an address with a unit number and hit enter, it clears the unit number and formats the address to the best matched address from the suggestions array.

[2018-12-27 14:10] lc3t35 commented on #152
There are 3 "hasOwnProperty" in code (https://github.com/hibiken/react-places-autocomplete/search?q=hasOwnProperty&type=Code), none of them checks if object exists before calling hasOwnProperty

[2019-01-04 10:59] deftomat commented on #248
@saranshbansal Change `searchOptions={{ types: ['address'] }}` to `searchOptions={{}}`.

[2019-01-15 20:41] jjolley commented on #106
The blur event doesn't fire for me either.

[2019-01-18 09:59] 0xngoubou opened #252 "How to get address detail when selected address: state, region, street, router. city ...."
I need location detail from selected address.
Thanks.
For ex:
![screen shot 2019-01-18 at 4 59 12 pm](https://user-images.githubusercontent.com/4811620/51379608-6e125f00-1b42-11e9-9eec-e99523016ae5.png)

[2019-01-18 10:05] akhilmr95 opened #253 "Delay in react-places-autocomplete dropdown suggestions"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**

[2019-01-22 13:19] akhilmr95 commented on #253
@hibiken please look into this. Thanks..!!

[2019-01-23 23:09] city41 commented on #252
This component does not appear to do this. In order to get the details, you need to use the `placeId` you got back from this component and then make a details request

here is some very raw code where I just got this working

[code]

[2019-01-31 14:05] AnshulBasia opened #254 "LocationSearchInput required"
How can I make input field in this required ?

[2019-02-14 13:27] maximeBAP commented on #252
I've done it like this if it could help
`import React from 'react';
import PlacesAutocomplete, {
    geocodeByAddress,
    getLatLng,
} from 'react-places-autocomplete';
import { Field } from 'redux-form';

const searchOptions = {
    componentRestrictions: {country: 'fr'},
    type: ['address']
}

export default class LocationSearchInput extends React.Component {
    constructor(props) {

[2019-02-14 23:09] hibiken commented on #254
Does this work for you?
[code]

[2019-02-14 23:09] #254 closed

[2019-02-14 23:10] #252 closed

[2019-02-14 23:12] hibiken commented on #251
@djsteinmetz Thanks for creating this issue! And sorry for a very delayed response.

This use case sounds very interesting and possibly quite common. Do you have any suggestion on how it should behave?

[2019-02-14 23:16] djsteinmetz commented on #251
In my case, I just ended up adding a secondary field for unit/apartment number- but I could still for see issues in areas with new builds or other areas Google does not recognize.  I guess what would be ideal is if you could input an address that isn't in the picklist, and have it geocoded.

[2019-02-14 23:22] hibiken commented on #251
I see. I'll keep this issue open and see if someone can come up with a solution to this

[2019-02-19 17:00] tkrotoff commented on #246
Types are now up to date, see https://github.com/DefinitelyTyped/DefinitelyTyped/blob/90961b6110f9848311859f25b600d9e25e9bd783/types/react-places-autocomplete/index.d.ts
This issue can be closed

[2019-02-19 17:20] #246 closed

[2019-02-21 07:32] eleventhaus commented on #252
If you're getting the error that 'google' is undefined, switch it out for `window['google']` instead

[2019-02-21 11:54] Zeboch opened #257 "Expose autocompleteService instance"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
After selecting a prediction, we could use `geocodeByAddress`utility to get details from the selected location.

**What is the expected behavior?**
For billing purpose, it will be better to use the same autocompleteService initialized for prediction and apply `getPlace` function.
For this, we shoul

[2019-02-21 12:08] Zeboch commented on #257
My mistake, can't be done with `autocompleteService` but with autocomplete widget. We have to initialize a `PlaceService` for that …

[2019-02-21 12:08] #257 closed

[2019-02-24 02:04] 2JN opened #258 "Cursor is reset at the end of the input while deleting content on the middle"
Assuming we have the following code
[code]
This is a form connected with redux-form so the issue is that while deleting text on the middle of the input the text cursor is set at the end of the text. The problem seems to be in regards of the getInputProps method, when that is deleted the input works as expected. Unfortunately I that method to make the component work.

I'm working on nextjs by the w

[2019-03-01 11:05] MichaelVoloshyn opened #259 "onBlur event handler"
*feature*

It would be great if you add onBlur event handler.
It could help in situation, when user clear the field and we can render the old value from redux store when focus is out of field.

[2019-03-01 20:04] hibiken commented on #259
You should be able to pass it as a part of argument to `getInputProps`.

This function will return the props that you can spread over the <input /> element. You can optionally call the function with an object to pass other props to the input.

[code]

[2019-03-02 13:12] vidur149 opened #260 "Clear Suggestions when a user clicks away."
`
import React from "react";
import PlacesAutocomplete from "react-places-autocomplete";
import Input from "@material-ui/core/Input";
import FormHelperText from "@material-ui/core/FormHelperText";
import ListItem from "@material-ui/core/ListItem";
import Typography from "@material-ui/core/Typography";
import InputLabel from "@material-ui/core/InputLabel";
import FormControl from "@material-ui/core

[2019-03-02 16:06] #259 closed

[2019-03-06 08:20] DanishWajid commented on #160
@kkseven07  can you please tell me what's the bug ?

[2019-03-07 15:22] cesurk commented on #195
@corysimmons your solution was working in development but was breaking in our production instance.
Instead of adding a `componentDidMount` and a `initMap` function, I added a check to see if `window.google` was in scope and only then begin loading the Component that includes PlacesAutocomplete. See below:
`
{window.google && <SearchBox />}
`

[2019-03-15 04:33] brendonlamb commented on #136
Serious thanks for this one, great catch, wish google was little more clear about the syntax...

For others looking for the actual reference on this:

https://developers.google.com/places/supported_types#table3

[2019-03-15 11:22] eneskaya commented on #248
Try setting searchOptions to `searchOptions={{ ["(regions")] }}`, also see: https://developers.google.com/places/supported_types#table3

[2019-03-18 06:26] developdeez opened #261 "getLatLong no longer works"
getLatLng(results[0]) stopped working today. IS it just me?

[2019-03-20 05:08] mahmudahsan commented on #261
It's working for me, just tested.

[2019-03-20 18:08] WickyNilliams commented on #232
If you want the structured address, you can use the util `geocodeByPlaceId` and the `placeId` to get the `address_components`. That way you don't need to try and parse out the address yourself

[2019-03-20 18:29] josephkandi commented on #235
Is there a solution to this? I want to limit the search to a country but am getting results from all over the world, rather annoying to the user

[2019-03-20 18:38] josephkandi commented on #235
I can see from the code that the searchOptions are not ignore, https://github.com/hibiken/react-places-autocomplete/blob/master/src/PlacesAutocomplete.js#L107. This could be an issue on the google side

[2019-03-21 03:50] stepseazy opened #262 "Pass name value to input breaks autocomplete"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
when I try to pass name value onto input, autocomplete stops working

[code]

or

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

Add name field to allow use of revalidate library

[2019-03-23 17:44] griffith-icp commented on #244
Hey @Kukunin , is there a way we can get it to fire both an event and the value?
Because I'm trying to integrate it with formik and I'm facing the same problems as @abhilashrathod .
I'm guessing I'll have to clone the repo and modify the way events are handled myself.

[2019-03-23 17:46] griffith-icp commented on #219
Hi @tilersmyth , can you share a link to your project?
I'm facing a similar issue where I need the event thrown by the input element.

[2019-03-23 19:44] tilersmyth commented on #219
@griffith-icp

I was looking for an autocomplete solution in a setup wizard. My memory is a little foggy on the specifics but you can probably deduce what I did but looking here:

https://github.com/tilersmyth/plug-n-rent/tree/master/packages/client/src/modules/admin/wizard/controller/step2

[2019-03-23 19:52] griffith-icp commented on #219
Yeah thanks @tilersmyth .
I found a way out.
I plan on cloning this repo, fix a few bugs and host it on npm.
Because it's really don't know why the event object wasn't being bubbled up. (I only had to change a few lines in the library)

[2019-03-25 03:38] developdeez commented on #261
Im not sure what happend on my end but I had to alter it to use those functions.
Still works though 👍

[2019-04-04 17:15] keirstaple commented on #248
`searchOptions={{ types: ["(regions)"] }}` worked for me. You can then filter by `postal_code` in `address_components`, `types` array.

[2019-04-10 21:23] theasteve commented on #143
this is not true for the `AutocompleteService`. Since this class doesn't have an strict bounds option.

[2019-04-14 14:34] Danny-weebo commented on #212
you need to override the `handleInputOnBlur`
https://github.com/hibiken/react-places-autocomplete/blob/master/src/PlacesAutocomplete.js#L240,

[code]

[2019-04-16 09:57] Danny-weebo commented on #260
I'm not sure if it's a question or statement 😕

anyway if you are trying to prevent the clear of suggestions on "click away" you can override [clearSuggestions()](https://github.com/hibiken/react-places-autocomplete/blob/master/src/PlacesAutocomplete.js#L115)
`placesAutocompleteRef.clearSuggestions = () => {};`
or override [`handleInputOnBlur()`](https://github.com/hibiken/react-places-autocomplet

[2019-04-16 20:53] mkoci opened #263 "Places API token changes for every character entered"
According to [Googles Places Docs](https://developers.google.com/places/web-service/session-tokens) you must specify a 'sessionToken' for every suggestion call. When an address is selected, the sessionToken is expired and you are charged for the suggestion.

After looking at the payloads sent to the places API, this component seems to send a unique 'token' with every onChange event. Am I wrong to

[2019-04-19 21:49] floifyed opened #264 "Allow id Props to pass accessibility review?"
If you have more than 1 PlacesAutocomplete component on the page, axe accessibility is throwing an error for duplicate ID's for the root

<div id="PlacesAutocomplete__root" class="" style="position: relative; padding-bottom: 0px;">

Is there a way for us to update the root ID to prevent the error?

[2019-04-23 01:42] anilpatnik opened #265 "How to restrict input to be selected from suggestions only and ignore custom text using Redux Form"
Hi there,

Thanks for this great component.

How to restrict the input to be selected from suggestions only and not allowing users to enter custom address?

While using with Redux-Form it's validating the empty input but as soon as started typing it validates even the custom address. I want this to be selected from suggestions only. I have tired couple of ways to achieve this but reset button is n

[2019-04-23 02:51] anilpatnik commented on #265
import React, { Component } from "react";
import PlacesAutocomplete from "react-places-autocomplete";

class AddressAutoComponent extends Component {
  constructor(props) {
    super(props);
    this.state = { address: "", location: "" };
  }
  handleChange = address => {
    this.setState({ address });
    this.props.input.onChange();
  };
  handleSelect = address => {
    this.setState({ address

[2019-04-25 19:56] #264 closed

[2019-04-30 19:20] emao commented on #218
Seems like there should be a `getDetails(placeId)` util method added which calls the Google Maps Places Service method [getDetails](https://developers.google.com/maps/documentation/javascript/reference/places-service#PlacesService.getDetails) since it provides much more detailed place information (e.g., address, name, rating, reviews, photos, etc.). My flow is the user enters a place name and I wa

[2019-05-08 18:23] andrefox333 commented on #126
For anyone in the future running into the same problem, I simply right click and inspect the suggestion element and that forces the autocomplete tray component to stay open.

[2019-05-09 17:12] carolinecreid opened #267 "Sample site and component in general not working...anyone else having this issue?"
Tried implementing the newest version as well and is still broken. I'm assuming it's a bigger issue than just our code since the sample site is also not working? Thanks!

[2019-05-09 17:40] ray-su commented on #260
hey Danny.
How can I override handleInputOnBlur() or clearSuggestions() without modifying the library itself?
I'm trying to prevent clear of suggestions.

Thanks

[2019-05-09 18:39] Danny-weebo commented on #260
@ray-su,
[code]

[2019-05-09 20:55] gmaijoe opened #268 "Autocomplete not accepting a menu component"
https://codesandbox.io/s/mjrqno9m59

here is my problem recreated in codesandbox!

[2019-05-13 04:08] georgefeast commented on #106
Any update on this? Would be great to be able to handle blur for the input

[2019-05-13 13:31] sahilvicesoftware opened #269 "Does this package use Google Place API or Maps API"

[2019-05-13 20:45] pcooney10 opened #270 "asynchronous loading and unmounting"
**Do you want to request a *feature* or report a *bug*?**
Feature / bug

**What is the current behavior?**
By default, this library does not load the library asynchronously. There is, however, a user provided [solution](https://github.com/hibiken/react-places-autocomplete/issues/195#issuecomment-382596430) to do so:

[code]

**If the current behavior is a bug, please provide the steps to reproduce

[2019-05-17 16:53] irfanabliz commented on #219
I found a work around

`<Select
 {...getInputProps({
  onSearch: value => getInputProps().onChange(event = { target: { value } })
})}
 />`

don't know if its a good solution but its working

[2019-05-24 19:00] cesarvarela commented on #267
Have you changed the api key? The sample site doesn't work because it exceeded the query limit

[2019-05-25 23:31] judeagboola commented on #262
Are you trying to change the value of the input when a place is selected?

If yes. this is the way i was a able to accomplish that

[code]

[2019-05-26 11:31] dinorhythms opened #271 "Set the data fields to return when the user selects a place."
Please how can i set fields to avoid paying for data that i don't need by restricting the set of
place fields that are returned.

 autocomplete.setFields(['address_component']);

Thanks

[2019-05-27 09:08] javidjamae commented on #106
If you pass the onBlur into the getInputProps and it works:

[code]

[2019-05-27 10:27] ashishlal91 commented on #180
Where is the solution @safeimuslim

[2019-05-28 13:04] sugarp commented on #271
Im missing this feature as well....

[2019-05-31 23:13] itsmhuang commented on #136
This is still broken or broken _again_. Setting `types: ['(cities)']` doesn't limit the search results to cities, the search results still returns all types.

[2019-06-03 10:56] abobykin commented on #174
@hibiken Hello! Any updates on that? )

[2019-06-03 19:18] david-kirkland commented on #134
+1 bump

[2019-06-03 22:47] hibiken commented on #106
Thanks @javidjamae for posting this 👍
We made a big change in API when we went from v6  to v7.
Please refer to @javidjamae 's snippet and ignore my snippet from 2017 (unless you're using v6 or below).

[2019-06-03 22:47] #106 closed

[2019-06-03 23:05] hibiken commented on #270
@pcooney10 Thank you for creating this issue!
Let me look into this a bit to see if it makes sense to add this to the library :)

[2019-06-03 23:09] hibiken commented on #269
`react-places-autocomplete` has an external dependency on the Place library from the Google Maps API. Please load the library with the following script tag in your page.

[code]

[2019-06-03 23:09] #269 closed

[2019-06-03 23:11] hibiken commented on #268
Hi @gmaijoe, thank you for creating an issue.
If you are still having a problem, could you explain the problem in more detail?

[2019-06-03 23:13] hibiken commented on #267
The demo is currently not working since I'm on free tire and exceeding query limit 😸

[2019-06-03 23:13] #267 closed

[2019-06-04 18:50] dvidsilva commented on #135
@hibiken  @KamesCG  sozz, still missing to add the new value to the input for preview purposes. Sorry to ask but haven't been able to figure it out in a bit

[2019-06-05 20:18] judygab opened #274 "add KeyPress"
This is more of a suggestion to add a props `keyPress` that could be passed to InputProps.

[2019-06-08 03:23] geraldoramos commented on #250
same here...

[2019-06-09 15:00] weber93 opened #275 "Package ignores makeStyles Classnames"
I am trying to use this with Material UI but the for some reason the package seems to completely ignore my set classNames. Do I have to use a CSS file? Or am I missing something?

![image](https://user-images.githubusercontent.com/18507767/59160636-9244ed00-8a9d-11e9-89cc-c41b3239da23.png)

[code]

[2019-06-09 15:29] weber93 commented on #275
I also tried a direct copy paste of the example in the README and imported this css file. Still not picking up the changes.

location-search-input {
  margin: 16px;
  min-width: 300px;
}

autocomplete-dropdown-container {
  border-radius: 5;
  background-color: white;
  box-shadow: 0px 7.5px 20px lightgrey;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

suggestion-item {
  background

[2019-06-10 14:05] #275 closed

[2019-06-26 00:22] slowtree opened #276 "id field u"
BUG

Component doesn't work properly when google services returns answer without ID field.

We checked all places where we've been using this component. It always fails, when the google answer doesn't include the ID field. Something we've observed only in the last 8 hours.

To work properly ;) meaning not throwing any exception maybe not relying on the ID field anymore as it might not always be th

[2019-07-07 21:12] talon-so opened #277 "react-google-autocomplete infinite loading with react-google-maps"
On npm start, first load of the project will work as intended.

**What is the current behavior?**
After page refresh, dropdown menu displays "loading..." infinitely

*Edit
After removing react-google-maps component from the page I found that it works fine.
How can I have autocomplete working in conjuction with a map component in the same page?

[2019-07-08 18:26] cmacdonnacha commented on #136
@itsmhuang , are you still seeing this issue? I am.

[2019-07-09 20:48] cottmar opened #278 "Bug - searching by lat/lng returns closest road to lat/lng instead of exact lat/lng"
This could be a bug or end up being a feature request.

When I search in the search bar by Lat / Lng instead of returning the exact Lat/Lng I provided I'm given the closest access point/road. However, if I put in the coordinates for a home (lat lng exactly on top of the roof of a building) the search returns me to the exact coordinates.

To reprod:
In search, type in 47.607154, -122.234264 -- thes

[2019-07-10 13:11] Spawn8 opened #279 "I get a blak page"
![screenshot-localhost-2019 07 10-16_10_37](https://user-images.githubusercontent.com/52748119/60971634-510a5c00-a32d-11e9-94f9-b6b53f84f9fe.png)

[2019-07-10 18:49] Spawn8 commented on #279
i think the index.min.js is missing

[2019-07-11 18:03] yalamber commented on #65
it's not working for me
[code]

[2019-07-11 18:07] yalamber commented on #65
Ok seems like it should be searchOptions instead of options for props.

[2019-07-13 22:24] JonathanWbn commented on #130
This issue should be closed as the render prop approach allows for the usage of `textarea`.

[2019-07-16 15:11] zoolle opened #280 "Can I use virtual keyboard for input?"
**Do you want to request a *feature* or report a *bug*?**
Yes

**What is the current behavior?**
If I type using laptop's keyboard will receive the suggestions but if I use virtual keyboard I manage to change the value of input but it never returns suggestions

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

You can easily

[2019-07-22 05:09] michebble commented on #263
Did anything come of this? Looks like there has been no action taken to incorporate `sessionToken`

[2019-07-24 01:38] GWSzeto commented on #263
Hey I'm running into the same issue, I implemented the session Token above as so

[code]
and even after that I saw that it was sending a request after every keystroke to the places api. I also console logged to see if the session token was being generated correctly, which I believe it was.

![Screenshot from 2019-07-23 21-36-27](https://user-images.githubusercontent.com/25385051/61758264-132c1f80-

[2019-08-03 18:26] tim-rohrer commented on #189
As a newbie, I appreciate this thread, but I continue to bang my head against the wall.

In my case, I'm trying to mock `PlacesService.getDetails`. Adding `PlacesService: class {}` resolves constructor issue, but leaves me with `getDetails` being undefined.

[2019-08-06 20:13] vitorzerbeto commented on #244
The secret to use with Formik is the `setFieldValue` function.

Into the `onChange` method, of the `<PlacesAutocomplete />` component, you'll need to call `setFieldValue` to update the formik input value.

This function come from the `render({ setFieldValue })` method, provide by the `<Formik />` component.

https://jaredpalmer.com/formik/docs/api/formik#setfieldvalue-field-string-value-any-should

[2019-08-09 22:34] TroyWolf commented on #263
What @mkoci reports sounds serious to me---admittedly a newb to this package and the Places API in general. However, what I read is that you create a session token for each autocomplete "session". That is, all the keystroke calls to do the lookups. When the user selects a match, you use that same token for the final "detail" request. Then for subsequent autocomplete sessions, you must generate a n

[2019-08-10 12:27] TroyWolf commented on #263
@GWSzeto, it is supposed to send an API request on every keystroke--that is how autocomplete does it's magic.

This issue is about using a new session token for every keystroke. If I understand Google's pricing model correctly (linked in my previous post), by default react-places-autocomplete will be racking up a ton of API charges for people!

It should generate a session token and use it until a

[2019-08-19 21:47] jmayergit opened #281 "error when using getInputProps"
In my component I get the following error when attempting to use getInputProps,

[code]

I'm using Next.js. I have the places library loaded in my project. I copied much of the documentation's code. I'm not sure why this method is giving me an error.

Any help is appreciated.

[2019-08-20 18:04] jmayergit commented on #281
The problem lies with next.js but is relevant when using this library.

https://github.com/zeit/styled-jsx/issues/539
https://github.com/zeit/next.js/issues/6057

The spread syntax operator is the issue. You can remove jsx tags or possibly place the attributes directly on the input element.

[2019-08-21 15:26] jmayergit commented on #263
It's not intended to be easily understood I think, the Google Pricing sheet.

The options are 70,000 requests vs 11,000 sessions. If you use session tokens you have 11,000 free sessions, assuming this is the only google service you use. If you don't use session tokens you have 70,000 free requests.

I'm just using the Places Autocomplete for my project and don't think I'm using the Places Detail A

[2019-08-21 18:07] jmayergit commented on #250
https://github.com/tomchentw/react-google-maps/issues/812#issuecomment-433315859

I followed this comment to have these two libraries work with each other.

[2019-08-21 18:09] jmayergit commented on #277
See my comment in this [issue](https://github.com/hibiken/react-places-autocomplete/issues/250), it solved the issue for me.

[2019-08-21 19:20] jmayergit commented on #260
I don't understand what you did here so I'll ask how do you do it on the element itself

[2019-08-22 03:05] vidur149 commented on #260
Hey,

I have solved the problem by using elementRef. Sorry, didnt get a chance to
reply. Thank you guys for your help and support.

Regards,
Vidur Singla
Mob: +91-9873843939

On Thu, Aug 22, 2019 at 12:50 AM Julien Mayer <notifications@github.com>
wrote:

[2019-08-22 11:47] CodeForcer opened #282 "geocodeByAddress returns "Raas Chaabad, Somalia" when searching for "Somalia""
When searching into geocodeByAddress with the name "Somalia" the formatted address return refers to an isolated city off the coast of Somalia called Raas Chaabad

[2019-08-22 18:12] jmayergit commented on #260
After digging around I found this [example](https://stackblitz.com/edit/react-ravwmw) from this [article](https://dev.to/jacobgoh101/3-ways-you-could-customize-3rd-party-react-component-3dpl) which discusses way to customize 3rd party react components. And the react docs for [callback refs](https://reactjs.org/docs/refs-and-the-dom.html).

I wanted to modify the behavior of handleInputOnBlur simil

[2019-08-22 23:17] michebble commented on #263
When using `sessionToken`, it's important to keep in mind that it is invalidated after 3 minutes from  the first call to the Place Autocomplete API, or once a selection has been made. My understanding is that if your user continues to use an invalidated token, you will be charged as if you are not using a `sessionToken`.

Also, @jmayergit if your implementation supplies the `onSelect` function and

[2019-09-06 05:49] subflow commented on #261
Not working for me either. What did you change @developdeez to get it working?

[2019-09-07 08:45] amitbravo opened #284 "Only Sydney and around search results."
**What is the current behavior?**
Its showing results out of radius

**What is the expected behavior?**
I want results only from Sydney and radius 100km only

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**
v7.2.1

I am using following code for a Sydney Taxi App: I need only results from Sydney.
[code]
when I type "Pearl" for Pearl Beach for Austra

[2019-09-07 11:39] #284 closed

[2019-09-12 08:55] bustinjurkz opened #285 "Changing the background color of the autocomplete dropdown"
Hey, I cannot seem to get this to work.  Does anyone have some example code?  In fact, I can't seem to be able to change the background color for the  suggestion.active div's, nor any in-line styling.  I must be implementing it wrong.  The code is copypasted from the readme.  Any help would be appreciated

[code]

[2019-09-12 18:52] #285 closed, assigned to nobody

[2019-09-20 22:34] joshua-wright-dray-alliance opened #286 "Can I add constant possible values to the list of suggestions?"
**Do you want to request a *feature* or report a *bug*?**
If this isn't already possible, I'd be requesting a feature for it

We need the user to be able to type in "Port Of Los Angeles" and have it come up in the list when you search for that, without any other parts of the address. We actually have a list of fixed places and their names which are important to our business. Is there any way to en

[2019-09-23 23:45] dbsquared opened #287 "do we support "address_components"?"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
address is returned as a single string, not breaking down to components, e.g. street, city, etc

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
See https://developers.google.com/maps/docu

[2019-09-25 05:29] anthonyko commented on #287
You should be able to get the `address_components` by using the `geocodeByAddress` utility function.

`  handleSelect = address => {
    geocodeByAddress(address)
      .then(results => console.log(results))
      .catch(error => console.error("Error", error));
  };`

[2019-10-01 05:57] jmayergit opened #288 "history"
Is it possible to create history ?

I would like to display past searches that act like suggestions.

[2019-10-01 09:12] jmayergit commented on #288
my solution

1. have ref placed on PlacesAutocomplete
2. monitor changes in the value provided to PlacesAutocomplete
3. when value is === '' manually set the suggestions of PlacesAutocomplete

[code]

[2019-10-02 04:11] #288 closed

[2019-10-03 06:35] piyush-arora-quo opened #289 "When we start typing, we only get the full address, how to get name of the place?"

[2019-10-03 19:49] piyush96arora1 commented on #287
Hey, how do we get actual name of palce, what we select from dropdown is the name and address, and in query response, there is not the feild name.? Have any idea? About this?

[2019-10-17 17:17] arnaudcosson opened #291 "Add language in parameters"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
Can't request API in a specific language
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
Be able to add Optional parameter "language" to API call so the results can be in the user language

[2019-10-20 21:13] afreix commented on #270
I would be interested in this as well. You could create a utility that is publicly exported from this package.

In addition to being available as a utility it could also be a defaultProp of PlacesAutocomplete that PlacesAutocomplete uses to load the necessary scripts. Something similar to https://github.com/google-map-react/google-map-react/blob/master/src/loaders/google_map_loader.js

but maybe w

[2019-10-29 08:21] RobbyUitbeijerse commented on #291
@arnaudcosson what blocks you from using the actual language parameter inside of the script tag? The documentation you referred wants you to add it like this;

`<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&language=nl"></script>`

The results will come in in the specified language via this paramater, as react-places-autocompleted uses the google API's that

[2019-10-30 16:32] udielenberg commented on #212
@Danny-weebo
where do add this ?

[2019-11-06 07:24] Danny-weebo commented on #212
In autocomplete component

[2019-11-08 12:26] bhumi0901 opened #293 "I need name field in selected address object."
I am using geocodeByAddress method i have tried to add searchOptions in the component but it didn't worked. How can i get that?

[2019-11-12 10:10] m-jabrane commented on #136
I don't know why! but if you create a variable with customized parameters and then give that variable to the `searchOptions` parameter it's not gonna work. I had to give these customized parameters directly in the component like:
[code]

[2019-11-12 10:14] m-jabrane commented on #136
I don't know why! but if you create a variable with customized parameters and then give that variable to the `searchOptions` parameter it's not gonna work. I had to give these customized parameters directly in the component like:
[code]

[2019-11-14 03:56] wiadev opened #294 "How can I get placeDetails with the address response in onSelect() callback?"
Hi

Right now, in onChange, onSelect() callbacks, I'm simply getting the address as string but I need to get place details.

https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete-hotelsearch

I've checked the google-autocomplete documetation and they were calling `autocomplete.getPlace` in onPlaceChange() callback which is calling GoogleServi

[2019-11-15 08:59] jomo24 commented on #294
@wiadev see this https://github.com/hibiken/react-places-autocomplete/issues/287#issuecomment-534859086

[2019-11-22 08:36] tillmusshoff opened #295 "How to get the value of PlacesAutoComplete in different form/component?"
Hey, I can't figure out how to extract the value of the input field in another component. I have been trying for hours. This is probably a quiet trivial problem, but im still new to react and can't get it to work.

**This is the Places implementation:**
<img width="509" alt="Bildschirmfoto 2019-11-22 um 09 31 25" src="https://user-images.githubusercontent.com/53266983/69411096-904dae00-0d0c-11ea-9

[2019-11-22 16:57] belhassen07 opened #296 "Is this still maintained?"
I'm having multiple issues here:
- Restrcting bound as the #143 issue decribes, there's no solution implemented for this.
- The last commit is about 2 years ago which is a concern
- Warning: componentWillReceiveProps has been renamed, and is not recommended for use. That means the library won't work with the new react version.

[2019-11-29 06:54] Subramani058 opened #297 "Wrong Results getting for one particular address using Geocodebyaddress method."
Hi,
I got the issue like getting wrong result from geocodebyaddress method while searching for one particular address.

I searching for **Mylapore** , but it getting results like **1760,Prairie City Road,Folsom,California,United States,95630**.

React Version: 16.3.1,
react-places-autocomplete: 5.4.3

[2019-11-30 18:56] brendonlamb commented on #136
Yeah this is definitely not working well again :( and @m-jabrane 's solution isn't working for me either, using that exact code my autocomplete isn't filtering by cities only OR by country (US):
![image](https://user-images.githubusercontent.com/1816511/69904390-18b6f900-1374-11ea-805e-068339adb2cd.png)

However, removing the "types" property all together does appear to make the country filter wor

[2019-12-03 15:19] RemyMachado commented on #244
If you are using `useField()` or `<Field />` as a children of `PlacesAutocomplete` and you need the `field`/`meta` to be available in the `parent Component`, you can use a second `<Field />` with the same `name` prop to pass them down, see example:

With `<Field />`
[code]
or

With `useField()`
[code]

Hope it helps.

[2019-12-09 15:23] theodoregold commented on #133
You should at least mention this in the example. This isn't really an "error". Google API is returning status 200 with empty array. Which is totally fine and expected. There is no need to create an error or blast the console.

[2019-12-27 16:01] matiasherranz commented on #162
@Ethaan Thanks for your answer! Quick tip. You can remove this line from the `constructor` method:

[code]

If you define the ```onAddressChange` method like this:

[code]

Instead of like this:

[code]

[2020-01-04 18:31] amitcr commented on #287
Thank you So much.

It saved a lot of my time :)

[2020-01-04 18:33] tarun-nagpal-github commented on #287
@anthonyko Thank you so much for this code.

It saved a lot of my time :)

[2020-01-17 23:43] coderdix commented on #209
I'm getting the following error
PlacesAutocomplete.js:103 Uncaught TypeError: Cannot read property 'getPlacePredictions' of undefined at PlacesAutocomplete._this.fetchPredictions (PlacesAutocomplete.js:103)

[2020-01-26 21:33] knour89 opened #298 "how get more than 5 cities?"
hello, this is the first time to use react places autocomplete,

I need to increase number of results instead of 5 to be 10, but I don't know how!!!

[2020-01-29 05:56] OscarBarrett commented on #189
I prefer to mock the library instead. Simple example:

[code]

Then you can still test changes to props, changes from within the render function etc that you couldn't do with shallow rendering, but you don't need to worry about internal requirements like the google API.

[2020-02-07 16:13] zhil commented on #296
@hibiken ping

[2020-02-08 18:39] hibiken commented on #296
@belhassen07 and @zhil , thank you for opening this issue.

I've been struggling to find time and motivation to work on this project since I no longer use React in my day-to-day work.

I have a few thoughts:
* If there's a fork that's well maintained, I'd happy to list that in the README of this repo.
* If anyone is willing to be added as a maintainer of this project, please email me directly (ken

[2020-02-10 02:12] akulas1996 opened #299 "google.maps.LatLng"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**

[2020-02-10 02:12] akulas1996 opened #300 "latlng"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?**

[2020-02-10 12:34] zhil commented on #296
few candidates for maintained fork / maintainers (according to network graph)

@travelboss @afreix @wadehrarshpreet @innovativemetrics @chamchisand @hkdahal @alvinhuynh @InTouchGPS @outdoorjournal

Personally I dont have enough reactJS skills to maintain lib, would be nice if some fork owner will do it though.

[2020-02-12 15:26] scryan7371 opened #301 "Using deprecated unsafe life cycle method (componentWillReceiveProps)"
Bug
This plugin is super useful however it makes use of the method componentWillReceiveProps which is no longer supported by React.  React continues to evolve in many directions and now they are getting rid of classes in preference to functions.  I still have clients that are React heavy but more and more are moving to other frameworks due to the instability and constant breaking changes being int

[2020-02-12 20:03] getorca opened #302 "Feature Reuest / Bug: Attribution and note on Place API policies"
Current Behaviour
Currently the drop-down doesn't contain attribution for google which can result in `RefererDeniedMapError` and the API will not work. I just experienced this and am currently having to have my application reviewed by google for non compliance.

Expected:
At the bottom of the drop-down include the google attribution tag outlined on the places api requirements, https://developers.g

[2020-02-21 14:20] CrisGarcis commented on #277
same problem

[2020-02-21 14:28] CrisGarcis commented on #277
index.js:1375 Google Maps JavaScript API error: ApiNotActivatedMapError

The Maps JavaScript API is not activated on your API project. You may need to enable the Maps JavaScript API under APIs in the Google Cloud Platform Console.

Follow this guided flow to enable the Maps JavaScript API for your project.

[2020-02-27 10:02] nirmalmarian commented on #301
Hi! I would like to work on this issue. I am new to this so can someone kindly give me a head start?

[2020-03-11 06:06] developdeez opened #304 "Address and Cities"
I would like to use searchOptions.types to have both address and (cities).
Seems to not work as expected

[2020-03-25 20:22] ybakhshi commented on #162
@Ethaan  @curtisolson  @matiasherranz  Thanks for your support in advance but i get this error  implementing the same code
![image](https://user-images.githubusercontent.com/57077366/77581820-b06dc380-6ede-11ea-9784-20742895038a.png)

could you please explain me what i have to do to make it work?

[2020-03-26 22:58] ybakhshi commented on #221
@lihop @gianfelipe93  I found your codes here very useful. Could you please explain how to autocomplete the rest of the Fields like city, postalcode , estate using redux-form?

[2020-03-30 11:57] fgobin commented on #304
I'm having a same issue with only (cities). It returns all the addresses regardless if it is a city or airport for example. Did you maybe find a solution in the meantime?

[2020-03-30 14:39] developdeez commented on #304
Nope

On Mon, Mar 30, 2020, 4:57 AM fgobin <notifications@github.com> wrote:

[2020-04-01 09:30] iamvishalbisht commented on #304
bumping this up. Same issue

[2020-04-02 08:17] adirn15 commented on #251
is there anything new on this issue? or a suggested workaround?

[2020-04-07 05:59] lalspicesresearch opened #307 "Include postal_code too"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
Returns address without postal_code
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Enter address in autocomplete field, does not return postal_code value along with the full address
**What is the expected behavior?**
Should

[2020-04-07 06:17] lalspicesresearch commented on #192
@Dashue can you help me to implement your answer ?
var placeRequest: Promise<google.maps.places.PlaceResult> = new Promise((resolve, reject) => {
            new google.maps.places.PlacesService(document.createElement('div')).getDetails(request, (place, status) => {
                if (status == google.maps.places.PlacesServiceStatus.OK) {
                    resolve(place);
                } else

[2020-04-07 10:05] Dashue commented on #192
@lalspicesresearch Please elaborate, what's not working, are you getting an error?
Also this is typescript code so will need a couple of packages installed. I wouldn't expect this piece of code to work just by itself.

Maybe open a new issues and add as much info and code as possible about your setup and situation and we can take it from there?

[2020-04-08 19:48] himat commented on #304
Same issue, it's returning all addresses when using just (cities)

[2020-04-08 20:41] himat opened #309 "How to remove country name from search suggestions?"
I was able to remove the country name via string manipulation from the rendered view, but when I click on a suggestion, it still inputs the full name with the country at the end.

Is there an easy way to remove the country?

[2020-04-13 22:18] gabe2code commented on #287
I'm using the same procedure and I'm receiving a deny access from Google API, I don't want to show any map, just obtain the details of the current suggestion... any suggestion??

`Geocoding Service: This API project is not authorized to use this API.  For more information on authentication and Google Maps JavaScript API services please see: https://developers.google.com/maps/documentation/javascri

[2020-04-14 09:15] kidoun commented on #287
you should activate  Geocoding Service from your account GCP google

[2020-04-14 16:43] gabe2code commented on #287
Thanks for the quick response buddy, I'm migrating my app from angular JS to React, and I'm using the same code which works like a charm in angularJS, so, I don't understand why the answer is different here. Even I'm using the `geocodeByPlaceId` onSelect, so :confused:

[2020-04-14 21:14] alifardoss opened #310 "Add this code in to reverse from latlng to Address"
var addressFromLatLng = exports.addressFromLatLng = function addressFromLatLng(lat,lng) {
  var geocoder = new window.google.maps.Geocoder();
  var OK = window.google.maps.GeocoderStatus.OK;

  var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
  return new Promise(function (resolve, reject) {
    geocoder.geocode({ location: latlng }, function (results, status) {
      if (status !== OK)

[2020-04-18 06:40] david-beglari opened #311 "Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code"
Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code

[2020-04-19 14:26] MeRahulAhire opened #312 "How to set restriction/option to query only selected type of places?"
according to your [docs](https://github.com/hibiken/react-places-autocomplete#searchoptions), i tried to implement the code in my react app in the following way:
[code]

to only get results from colleges, schools and university. But when i tried to add [this](https://github.com/hibiken/react-places-autocomplete#searchoptions):
[code]
I wasn't able to get any suggestion after using `searchOption` b

[2020-04-19 17:50] asktree opened #313 "See also: Material-UI Version"
Material-UI now provides an example of how to build this in their package. I prefer their version and wish I'd found it sooner. Consider linking to it in the README.

https://material-ui.com/components/autocomplete/#google-maps-place

Thanks for your version, though. It just doesn't seem to be maintained at this point and is a little tricky to incorporate with Gatsby.

[2020-04-21 04:38] Mindbowser commented on #239
Any updates on this? I can see that when I pass origin in searchOptions I am getting distance in google api response when inspected through network tab but library is not giving distance in suggestions object, I need to sort and show suggestions based on distance so let me know how to solve it?

[2020-04-21 05:42] rishikeshdevkate opened #314 "react-places-autocomplete"
react-places-autocomplete response contains distance filed but not in suggestions object in reactjs

![Screenshot from 2020-04-21 11-11-19](https://user-images.githubusercontent.com/47098172/79829517-e492b200-83c0-11ea-9027-10f5a4525d6f.png)

[2020-04-22 03:25] Flamesh commented on #314
maybe react-places-autocomplete have some error , some mine project also having trouble like this though it run well before

[2020-04-28 11:39] m-nathani commented on #174
i completely agree, it is making api call twice for geocoding, whereas place api does the geocoding implicitly now ..

[2020-04-28 15:43] m-nathani commented on #174
ill try to create a fix and send PR if its works..

[2020-04-29 18:59] gonzadk commented on #298
it's a little late for you, but probably other people with the same problem could help mine..

short answer: No
long one: this library consumes a google places service to get the suggestions and the google API used for that limits the responses to 5.. you can read more here -> https://developers.google.com/places/web-service/autocomplete#place_autocomplete_responses

[2020-05-01 06:29] Buuntu opened #315 "How to mock with cypress?"
**Do you want to request a *feature* or report a *bug*?**
Is there an example of how to mock this with cypress?  I tried following this issue but haven't been able to get it to work: https://github.com/hibiken/react-places-autocomplete/issues/189

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the probl

[2020-05-01 06:30] Buuntu commented on #189
Has the API changed from AutocompleteService to AutocompletionService?  I haven't been able to get this to work with cypress and was wondering if the API has changed.

[2020-05-12 12:03] sambokai commented on #296
@hibiken This should be more visible. I've added it to the README in this PR. https://github.com/hibiken/react-places-autocomplete/pull/316

[2020-05-14 20:50] sambokai commented on #245
[@google/maps has been deprecated](https://www.npmjs.com/package/@google/maps) and is replaced by [@googlemaps/google-maps-services-js](https://www.npmjs.com/package/@googlemaps/google-maps-services-js), which doesn't seem to include any autocomplete feature.

This request seems impossible as of today, so i suggest this is closed.

[2020-05-15 12:33] sambokai opened #318 "Don't run tests in `dist/tests`"
### Summary
`npm test` runs both the tests in the source folder `src/tests` and in the generated build folder `dist/test`. Is this intended behavior? If not, I suggest this be fixed.

Screenshot:
<img width="858" alt="Screenshot 2020-05-15 at 14 33 01" src="https://user-images.githubusercontent.com/7689616/82050797-0bd75900-96b9-11ea-954b-a56c8177a8d2.png">

[2020-05-16 04:32] hibiken commented on #296
@sambokai thanks for all your contributions! Would you mind if I add you as a collaborator to this project?

[2020-05-16 10:01] sambokai commented on #296
Sure, why not. At least for occasional reviews and merging, but I will not be able to commit a substantial amount of time. Would be nice to find a few more maintainers. Messaging the people in @zhil's list would be start. I'll do that.

[2020-05-16 17:22] hibiken commented on #296
I agree. Thank you for the contributions you've made so far! Please don't feel pressured to review or dedicate time on the project :)

[2020-05-16 17:30] #245 closed

[2020-05-16 17:33] sambokai commented on #263
Any further observations on this? I’d like to prioritize this issue in case it affects pricing as much as suspected.

[2020-05-16 17:47] sambokai opened #324 "Automated vs manual release? Protecting master/release branch?"
Is there an automated build (and release) setup or do you usually release manually? I noticed the link to a Travis CI configuration in the README but it seems to be dead.

I'm thinking now that the project has at least 2 collaborators, protecting the master branch from direct pushes might make sense, especially if there is indeed an automated release setup. If it's manual I don't see an urgent nee

[2020-05-16 17:51] sambokai commented on #263
Let's merge this conversation into #174. It seems to me that both are about the same problem. @mkoci let me know if you disagree and think this one warrants it's own issue. I'll close until then.

[2020-05-16 17:51] #263 closed

[2020-05-16 21:29] sambokai commented on #314
Could you please elaborate on this? I'm not understanding.

[2020-05-16 21:31] sambokai commented on #315
What exactly are you trying to mock and why is it failing? Can you provide some code examples?

[2020-05-17 03:18] hibiken commented on #324
I have been releasing manually 😄 I agree that we would need some release guideline or automation.

I have not used Github Action but would it be possible to integrate with it?

[2020-05-17 03:20] hibiken commented on #318
Ah yes, thank you for spotting this! Let's fix.

[2020-05-17 09:14] sambokai commented on #324
Hm.. I’ve never used it either but read a little bit about it. How would the pipeline look like?

Just a classic “test, build, release”? That should be doable no problem with Github Actions.

[2020-05-17 09:45] sambokai commented on #174
@m-nathani Can you elaborate? Which request is it doing twice and how could this be solved?

[2020-05-17 09:50] sambokai commented on #263
Ok after further investigation it seems as if the issue I've linked is related but is not exactly about the same problem.

I still don't see any action point on this particular issue, however. You can generate a session token  and include it in the `searchOptions` and use that same token in your place details request in order to conclude the session. Once the user starts typing again it counts as